/*__________ Fonts +++ __________*/
/*__________ Fonts --- __________*/
/*__________ Heritage +++ __________*/
/*__________ Heritage --- __________*/
/*__________ Absolute +++ __________*/
/*__________ Absolute --- __________*/
/*__________ Animation +++ __________*/
/*__________ Animation --- __________*/
/*__________ Column +++ __________*/
/*__________ Column --- __________*/
/*__________ Button Color +++ __________*/
/*__________ Button Color --- __________*/
/* ELEMENTS
=======================================================================================================================*/
.inv_soc > li > a > i.fa-vk {
  background: #436eab;
}
.inv_soc > li > a > i.fa-vk:hover {
  background: #355686;
}

.inv_soc > li > a > i.fa-facebook {
  background: #3b589e;
}
.inv_soc > li > a > i.fa-facebook:hover {
  background: #2d4379;
}

.inv_soc > li > a > i.fa-odnoklassniki {
  background: #f58220;
}
.inv_soc > li > a > i.fa-odnoklassniki:hover {
  background: #d8690a;
}

/* Muller
=======================================================================================================================*/
/*__________ Light +++ __________*/
@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik_Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik_LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
/*__________ Light --- __________*/
/*__________ Regular +++ __________*/
@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik_Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik_RegularItalic.ttf");
  font-weight: normal;
  font-style: italic;
}
/*__________ Regular --- __________*/
/*__________ Medium +++ __________*/
@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik_Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik_MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
/*__________ Medium --- __________*/
/*__________ Bold +++ __________*/
@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik_Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik/Rubik_BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
/*__________ Bold --- __________*/
body {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
}

img {
  max-width: 100%;
}

a,
button,
select,
input,
textarea {
  outline: 0 !important;
}

a:focus {
  text-decoration: none;
}

li {
  text-align: inherit;
}

/*__________ Custom Classes +++ __________*/
.cl-b::before, .cl-b::after {
  content: '';
  display: table;
}
.cl-b::after {
  clear: both;
}

.lis-n {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.tov-e {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.d-ib {
  display: inline-block;
  vertical-align: middle;
}

.us-n {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ap-n {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inr-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*__________ Custom Classes --- __________*/
.d-b {
  display: block !important;
}

/* HEADER
=======================================================================================================================*/
.hdr_wrp {
  position: relative;
}

/*__________ Header Top +++ __________*/
.hdr_top_sec {
  padding: 40px 0 15px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.hdr_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hdr_top_logo {
  height: 40px;
}
.hdr_top_logo > a {
  display: block;
  height: 100%;
}
.hdr_top_logo > a > img {
  max-height: 100%;
}
.hdr_top_l {
  display: flex;
  align-items: center;
}
.hdr_reg {
  display: flex;
  align-items: flex-start;
}
.hdr_reg_img {
  margin-right: 10px;
}
.hdr_reg_txt {
  border-bottom: 1px dashed #fff;
  color: #fff;
}
.hdr_reg_txt > a {
  text-decoration: none;
  color: inherit;
}
.hdr_reg_txt > a:hover {
  color: #e74c3c;
}
.hdr_appl_bx {
  display: flex;
  margin-left: 30px;
}
.hdr_appl_it + .hdr_appl_it {
  margin-left: 10px;
}
.hdr_appl {
  display: block;
}
.hdr_lang_sel {
  position: relative;
}
.hdr_lang_sel_ttl {
  display: flex;
  align-items: center;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  color: #fff;
}
.hdr_lang_sel_ttl::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-bottom: 0;
  border-top-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.hdr_lang_sel_ttl > img {
  height: 14px;
  margin-right: 5px;
  border-radius: 2px;
}
.hdr_lang_sel_cnt {
  display: none;
  min-width: 130%;
  border: 1px solid #eee;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
}
.hdr_lang_sel.active > .hdr_lang_sel_cnt {
  display: block;
}
.hdr_lang_sel_ls > li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: default;
}
.hdr_lang_sel_ls > li:hover {
  background: #e74c3c;
  color: #fff;
}
.hdr_lang_sel_ls > li > img {
  height: 14px;
  margin-right: 5px;
  border-radius: 2px;
}

/*__________ Header Top --- __________*/
/*__________ Header Baner +++ __________*/
.hdr_bnr_sec {
  margin-bottom: 70px;
}
.hdr_bnr_bx {
  position: relative;
}
.hdr_logo_bx {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hdr_logo_bx .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.hdr_logo {
  position: relative;
  z-index: 3;
}
.hdr_logo_img {
  display: flex;
  justify-content: center;
}
.hdr_logo_img > a {
  display: block;
}
.hdr_logo_txt {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}
.hdr_logo_txt_it + .hdr_logo_txt_it {
  margin-top: 10px;
}
.hdr_logo_txt_it.name {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: bold;
}
.hdr_logo_txt_it.capt {
  font-weight: 300;
}
.hdr_logo_txt_it.leag {
  font-size: 16px;
}
.hdr_bnr_body {
  position: relative;
}
.hdr_bnr_it {
  height: 500px;
  background: center / cover no-repeat;
}
.hdr_bnr_btn, .lig_bnr_btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  transition: all .3s ease;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  z-index: 5;
}
.hdr_bnr_btn:hover, .lig_bnr_btn:hover {
  background: #e74c3c;
  color: #fff;
}
.hdr_bnr_btn.next, .next.lig_bnr_btn {
  right: 30px;
}
.hdr_bnr_btn.prev, .prev.lig_bnr_btn {
  left: 30px;
}
.hdr_bnr_foot {
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.hdr_bnr_ft_angl {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hdr_bnr_ft_angl::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-left: 1000px solid #fff;
  border-right: 1000px solid #fff;
}
.hdr_bnr_ft_btn_bx {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: -25px;
  left: 0;
  margin: auto;
  z-index: 3;
}
.hdr_bnr_ft_btn_bx::before, .hdr_bnr_ft_btn_bx::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(231, 76, 60, 0.3);
}
@-webkit-keyframes btnZoomOut {
  0% {
    opacity: 0;
    transform: scale(4);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-o-keyframes btnZoomOut {
  0% {
    opacity: 0;
    transform: scale(4);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes btnZoomOut {
  0% {
    opacity: 0;
    transform: scale(4);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes btnZoomOut {
  0% {
    opacity: 0;
    transform: scale(4);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.hdr_bnr_ft_btn_bx::before {
  animation: btnZoomOut 4s ease 0s infinite;
}
.hdr_bnr_ft_btn_bx::after {
  animation: btnZoomOut 4s ease 0.5s infinite;
}
.hdr_bnr_ft_btn {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  border-radius: 50%;
  position: relative;
  font-size: 25px;
  transition: all .3s ease;
  background: #f4f5f9;
  color: #e74c3c;
  z-index: 3;
}
.hdr_bnr_ft_btn:hover {
  background: #e74c3c;
  color: #fff;
}

/*__________ Header Baner --- __________*/
/*__________ Header Navigation +++ __________*/
.hdr_nav_sec {
  height: 60px;
}
.hdr_nav_bx {
  background: #141414;
}
.hdr_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.hdr_nav_logo > a {
  height: 60px;
  padding: 5px 0;
}
.hdr_nav_logo > a > img {
  max-height: 100%;
}
.hdr_nav_us_bx {
  margin: 0 30px;
}
.hdr_nav_us {
  position: relative;
  perspective: 500px;
}
.hdr_nav_us_head > a {
  height: 60px;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
}
.hdr_nav_us_head > a:hover {
  color: #e74c3c;
}
.hdr_nav_us_img {
  margin-right: 7px;
}
.hdr_nav_us_name {
  padding-right: 13px;
  border-bottom: 1px dashed #fff;
  position: relative;
}
.hdr_nav_us_name::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all .4s ease;
}
.hdr_nav_us.active .hdr_nav_us_name::before {
  transform: rotate(180deg);
}
.hdr_nav_us_body {
  min-width: 100%;
  border-top: 0;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transform: rotate3d(1, 0, 0, -90deg);
  transform-origin: top;
  transition: all .4s ease;
  background: #fff;
  z-index: 10;
}
.hdr_nav_us.active > .hdr_nav_us_body {
  opacity: 1;
  visibility: visible;
  transform: rotate3d(0, 0, 0, 0);
}
.hdr_nav_us_menu > li > a {
  display: block;
  padding: 7px 14px;
  white-space: nowrap;
  text-decoration: none;
  font-size: 13px;
  color: inherit;
}
.hdr_nav_us_menu > li > a:hover {
  background: #e74c3c;
  color: #fff;
}
.hdr_nav_menu {
  flex: 1 1 auto;
}
.hdr_nav_menu_ls {
  display: flex;
}
.hdr_nav_menu_ls > li {
  flex: 1 1 auto;
}
.hdr_nav_menu_ls > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: #fff;
}
.hdr_nav_menu_ls > li.active > a,
.hdr_nav_menu_ls > li > a:hover {
  background: #6586fe;
}
.hdr_nav_menu_btn {
  display: none;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  position: fixed;
  top: 15px;
  right: 15px;
  box-shadow: 0 0 7px #888;
  transition: all 0.5s cubic-bezier(0, 0.7, 0.3, 1);
  background: #e74c3c;
  z-index: 99;
}
.hdr_nav_menu_btn > .line {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  transition: all .3s ease .5s;
  background-color: #fff;
}
.hdr_nav_menu_btn > .line:nth-of-type(1) {
  top: 3px;
  left: 0;
}
.hdr_nav_menu_btn > .line:nth-of-type(2) {
  top: -3px;
  right: 0;
}
.hdr_nav_menu_btn > .line:nth-of-type(4) {
  bottom: -3px;
  left: 0;
}
.hdr_nav_menu_btn > .line:nth-of-type(5) {
  bottom: 3px;
  right: 0;
}
.hdr_nav_menu_btn.active {
  right: 265px;
}
.hdr_nav_menu_btn.active > .line:nth-of-type(1) {
  left: -9px;
}
.hdr_nav_menu_btn.active > .line:nth-of-type(2) {
  right: -9px;
}
.hdr_nav_menu_btn.active > .line:nth-of-type(4) {
  left: -9px;
}
.hdr_nav_menu_btn.active > .line:nth-of-type(5) {
  right: -9px;
}
.hdr_nav_menu_bg {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  z-index: 95;
}
.hdr_nav_menu_bg.active {
  opacity: 1;
  visibility: visible;
}
.hdr_nav_info {
  display: flex;
  padding: 0 30px;
  background: #2b2b2b;
}
.hdr_nav_info_it + .hdr_nav_info_it {
  margin-left: 20px;
}
.hdr_nav_info_it > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60px;
  text-decoration: none;
  color: #fff;
}
.hdr_nav_info_it > a > .txt {
  font-size: 13px;
}
.hdr_nav_info_it > a > .val {
  border-bottom: 1px dashed;
}
.hdr_nav_info_it > a:hover .val {
  border-bottom-style: solid;
}
.hdr_nav_info_it.blc > a > .val {
  border-bottom-color: #dacd3a;
  text-shadow: 0 0 6px #dacd3a;
  color: #dacd3a;
}
.hdr_nav_info_it.rsv > a > .val {
  border-bottom-color: #ff4d6f;
  text-shadow: 0 0 6px #ff4d6f;
  color: #ff4d6f;
}

/*__________ Header Navigation --- __________*/
/* MAIN
=======================================================================================================================*/
.main_inr {
  background: #f3f3f3;
}

/*__________ How Play +++ __________*/
.how_play_sec {
  margin-bottom: 50px;
}
.how_play_ttl, .dvs_ttl {
  margin-bottom: 50px;
  text-align: center;
}
.how_play_ttl > h3, .dvs_ttl > h3 {
  margin-top: 0;
  font-size: 27px;
  font-weight: bold;
}
.how_play_ttl > p, .dvs_ttl > p {
  color: #999;
}
.how_play_ttl_hr {
  height: 20px;
  position: relative;
}
.how_play_ttl_hr::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border: 10px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #e74c3c;
  z-index: 2;
}
.how_play_ttl_hr::after {
  content: '';
  display: block;
  width: 200px;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #999;
}
.how_play_it_bx {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.how_play_it_bx::before {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  background: #999;
}
.how_play_it {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
}
.how_play_img {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 50px;
  position: relative;
}
.how_play_img > img {
  padding: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 3;
}
.how_play_img_bdr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotate(45deg);
  background: #fff;
}
.how_play_img_bdr::before, .how_play_img_bdr::after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  margin: auto;
  transition: all .3s ease;
  background: #fff;
}
.how_play_img_bdr::before {
  border: 2px dashed #ddd;
  z-index: 1;
}
.how_play_img_bdr::after {
  border: 2px solid #e74c3c;
  z-index: 2;
}
.how_play_img:hover > .how_play_img_bdr::after {
  transform: rotate(-45deg);
}
.how_play_txt {
  text-align: center;
}
.how_play_name {
  margin-bottom: 10px;
}
.how_play_name > p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #e74c3c;
}
.how_play_desc > p {
  margin-bottom: 0;
  font-size: 16px;
}

/*__________ How Play --- __________*/
/*__________ League Ads +++ __________*/
.league_ads_img {
  text-align: center;
  background: #12110d;
}
.league_ads_img > a {
  display: block;
}

/*__________ League Ads --- __________*/
/*__________ Site Statistics +++ __________*/
.site_sts_bx, .bnr_ft_bx {
  padding: 50px 0;
  position: relative;
}
.site_sts_img, .bnr_ft_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: center / cover no-repeat fixed;
}
.site_sts_img::before, .bnr_ft_img::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.site_sts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  z-index: 3;
}
.site_sts_it {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.site_sts_icon {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.site_sts_info {
  text-align: center;
  color: #fff;
}
.site_sts_num {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}
.site_sts_txt {
  font-size: 13px;
  font-weight: 300;
}

/*__________ Site Statistics --- __________*/
/*__________ Business Ads +++ __________*/
.bs_ads {
  margin-bottom: 50px;
}
.bs_ads_img {
  text-align: center;
}
.bs_ads_img > a {
  display: block;
}

/*__________ Business Ads --- __________*/
/*__________ Device +++ __________*/
.dvs_sec {
  margin-bottom: 50px;
}
.dvs_ttl > h3 {
  margin-bottom: 30px;
}
.dvs_it_bx {
  display: flex;
  justify-content: center;
}
.dvs_it {
  padding: 0 20px;
}
.dvs_it.img {
  width: 60%;
}
.dvs_it.txt {
  width: 40%;
}
.dvs_img {
  text-align: center;
}
.dvs_log {
  display: flex;
  flex-direction: column;
}
.dvs_log_txt {
  font-size: 16px;
  font-weight: 300;
}
.dvs_log_btn {
  display: flex;
  margin: 20px 0;
}
.dvs_log_btn > a {
  display: block;
  padding: 12px 22px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  background: #1ab14f;
  color: #fff;
}
.dvs_log_btn > a:hover {
  background: #179b45;
}
.dvs_log_app {
  display: flex;
}
.dvs_log_app_it + .dvs_log_app_it {
  margin-left: 25px;
}
.dvs_log_app_it > a {
  display: block;
}

/*__________ Device --- __________*/
/*__________ Partners +++ __________*/
.part {
  padding: 50px 0;
  background: #e6e7eb;
}
.part_bnr_bx {
  position: relative;
}
.part_bnr {
  padding: 0 40px;
}
.part_bnr .owl-item {
  height: 60px;
}
.part_bnr .owl-item.loading {
  min-height: initial;
}
.part_bnr_it {
  height: 100%;
  padding: 0 15px;
}
.part_bnr_it > img {
  max-height: 100%;
  filter: grayscale(100%);
  transition: all .3s ease;
}
.part_bnr_it > img:hover {
  filter: grayscale(0%);
}
.part_bnr_btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  background: #fff;
  color: inherit;
}
.part_bnr_btn:hover {
  background: #e74c3c;
  color: #fff;
}
.part_bnr_btn.next {
  right: 0;
}
.part_bnr_btn.prev {
  left: 0;
}

/*__________ Partners --- __________*/
/*__________ Baner Foot +++ __________*/
.bnr_ft_img::before {
  background: rgba(0, 0, 0, 0.6);
}
.bnr_ft {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #fff;
  z-index: 3;
}
.bnr_ft_logo {
  margin-bottom: 30px;
}
.bnr_ft_logo > a {
  display: block;
}
.bnr_ft_ntf {
  margin-bottom: 30px;
  text-align: center;
}
.bnr_ft_ntf > h3 {
  margin-top: 0;
  font-size: 27px;
  font-weight: normal;
}
.bnr_ft_ntf > p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
}
.bnr_ft_btn {
  display: flex;
  margin-bottom: 30px;
}
.bnr_ft_btn > a {
  display: block;
  padding: 12px 22px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
  background: #1ab14f;
  color: #fff;
}
.bnr_ft_btn > a:hover {
  background: #179b45;
}
.bnr_ft_menu_ls {
  display: flex;
}
.bnr_ft_menu_ls > li + li {
  margin-left: 30px;
}
.bnr_ft_menu_ls > li > a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.bnr_ft_menu_ls > li > a:hover {
  color: #e74c3c;
}

/*__________ Baner Foot --- __________*/
/* FOOTER
=======================================================================================================================*/
.ftr_inr {
  padding: 50px 0;
  position: relative;
  background: #141414;
}
.ftr_btn_anchor {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 24px;
  background: #e74c3c;
  color: #fff;
  z-index: 3;
}
.ftr_btn_anchor:hover {
  background: #d62c1a;
}

/*__________ Footer Top +++ __________*/
.ftr_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ftr_social_ls {
  display: flex;
}
.ftr_social_ls > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  font-size: 18px;
  color: #bbb;
}
.ftr_social_ls > li > a:hover {
  color: #e74c3c;
}
.ftr_copy > p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 300;
  color: #999;
}

/*__________ Footer Top --- __________*/
/*__________ Footer Down +++ __________*/
.ftr_down_sec {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #202020;
}
.ftr_down_txt > p {
  margin-bottom: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #999;
}
.ftr_down_txt > p > a {
  color: inherit;
}
.ftr_down_txt > p > a:hover {
  color: #e74c3c;
}

/*__________ Footer Down --- __________*/
/* INDEX SCORE
=======================================================================================================================*/
.tm_sec {
  margin-bottom: 50px;
}
.tm {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}
.tm_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tm_ttl > h3 {
  margin: 0;
  font-size: 20px;
}
.tm_help > a {
  display: block;
  border-bottom: 1px dashed #6586fe;
  text-decoration: none;
  color: #6586fe;
}
.tm_help > a:hover {
  border-bottom-style: solid;
}
.tm_body {
  display: flex;
}
.tm_cnt {
  flex: 0 0 auto;
  width: 70%;
  padding-right: 30px;
}
.stad {
  margin-bottom: 40px;
}
.stad_head {
  margin-bottom: 40px;
}
.tm_res_tab_nav {
  display: flex;
}
.tm_res_tab_nav > li {
  width: 50%;
}
.tm_res_tab_nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  background: #515a7b;
  color: #fff;
}
.tm_res_tab_nav > li.active > a,
.tm_res_tab_nav > li > a:hover {
  background: #3e4767;
}
.tm_res_cnt {
  border-top: 1px solid #49526d;
  background: #3e4767;
  color: #fff;
}
.tm_res_it {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.tm_res_it + .tm_res_it {
  border-top: 1px solid #565f7f;
}
.tm_res_nav {
  display: flex;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
  background: #6586fe;
}
.tm_res_nav_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 26px;
  padding: 0;
  border: 0;
  text-decoration: none !important;
  background-color: transparent;
  color: inherit !important;
}
.tm_res_nav_btn > i {
  display: block;
  font-size: 18px;
}
.tm_res_nav_txt {
  margin: 0 5px;
}
.tm_res_dtl {
  display: flex;
  width: 100%;
}
.tm_res_dtl_it {
  width: 33.3333%;
  text-align: center;
}
.tm_res_dtl_ttl {
  margin-bottom: 15px;
  font-size: 19px;
}
.tm_res_dtl_pt {
  line-height: 1;
  font-size: 25px;
  color: #b1c1fb;
}
.tm_res_dtl_pt > .val {
  font-size: 55px;
  font-weight: 500;
}
.tm_res_dtl_num {
  margin-bottom: 10px;
  font-size: 22px;
}
.tm_res_dtl_shr {
  display: flex;
  justify-content: center;
}
.tm_res_dtl_shr > a {
  display: flex;
  align-items: center;
  padding: 7px 14px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  background: #6586fe;
  color: inherit;
}
.tm_res_dtl_shr > a:hover {
  background: #e74c3c;
}
.tm_res_dtl_shr > a > .img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background: center / contain no-repeat;
}
.tm_res_dtl_sum {
  font-size: 17px;
  font-weight: 300;
}
.tm_res_dtl_sum + .tm_res_dtl_sum {
  margin-top: 10px;
}
.tm_play_capt {
  margin-bottom: 40px;
}
.tm_play_capt_it_bx {
  display: flex;
  justify-content: space-between;
}
.tm_play_capt_it {
  display: flex;
  align-items: center;
}
.tm_play_capt_txt {
  margin-right: 10px;
  font-size: 19px;
  font-weight: 500;
}
.tm_play_capt_sel {
  max-width: 150px;
  font-size: 17px;
  border: 0;
  border-bottom: 1px dashed #6586fe;
  color: #6586fe;
}
.tm_play_capt_sel > option {
  color: #333;
}
.tm_play_std {
  margin-bottom: 50px;
}
.tm_play_std_cnt {
  padding: 20px 0;
  padding-top: 30px;
  background: center / 100% 100% no-repeat;
}
.tm_play_std_it_bx {
  display: flex;
  justify-content: space-around;
}
.tm_play_std_it_bx + .tm_play_std_it_bx {
  margin-top: 75px;
}
.tm_play_std_it {
  margin: 5px;
}
.tm_play_rsv_cnt {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 20px solid #2b3353;
  background: center / 100% 100% no-repeat;
}
.tm_play_rsv_it {
  margin: 20px;
}
.tm_play_man {
  position: relative;
}
.tm_play_man_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -65px;
  right: 0;
  left: 0;
  margin: auto;
}
.tm_play_man_img > .inf {
  display: flex;
  margin-bottom: 3px;
}
.tm_play_man_img > .inf > a {
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
}
.tm_play_man_img > .inf > a + a {
  margin-left: 5px;
}
.tm_play_man_img > .inf > a.i {
  background: #6586fe;
  color: #fff;
}
.tm_play_man_img > .inf > a.chg {
  position: relative;
  background: #e3ef24;
}
.tm_play_man_img > .inf > a.chg::before, .tm_play_man_img > .inf > a.chg::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 5px 3px 5px 3px;
  position: absolute;
}
.tm_play_man_img > .inf > a.chg::before {
  border-bottom: 0;
  border-top-color: #e74c3c;
  top: 4px;
  left: 4px;
}
.tm_play_man_img > .inf > a.chg::after {
  border-top: 0;
  border-bottom-color: #2fbf47;
  right: 4px;
  bottom: 4px;
}
.tm_play_man_img > .img {
  width: 40px;
  height: 60px;
  background: top / contain no-repeat;
}
.tm_play_man_desc {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 3;
}
.tm_play_man_name {
  padding: 3px 5px;
  border-radius: 5px 5px 0 0;
  font-size: 11px;
  background: #687297;
}
.tm_play_man_name.red {
  background: #e74c3c;
}
.tm_play_man_name.blue {
  background: #6586fe;
}
.tm_play_man_num {
  border-radius: 0 0 5px 5px;
  position: relative;
  font-size: 12px;
  background: #3e4767;
}
.tm_play_man_num > .txt {
  position: relative;
  z-index: 2;
}
.tm_play_man_num > .cap {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 16px;
  border-radius: 0 0 100px 100px;
  position: absolute;
  right: 0;
  bottom: -16px;
  left: 0;
  margin: auto;
  text-transform: uppercase;
  font-size: 11px;
  background: #3e4767;
}
.tm_play_info {
  margin-top: 15px;
  margin-bottom: 25px;
}
.tm_play_info > .chg {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;
  background: #e3ef24;
}
.tm_play_info > .chg::before, .tm_play_info > .chg::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 5px 3px 5px 3px;
  position: absolute;
}
.tm_play_info > .chg::before {
  border-bottom: 0;
  border-top-color: #e74c3c;
  top: 4px;
  left: 4px;
}
.tm_play_info > .chg::after {
  border-top: 0;
  border-bottom-color: #2fbf47;
  right: 4px;
  bottom: 4px;
}
.tm_play_btn_sv {
  display: flex;
  justify-content: center;
}
.tm_play_btn_sv > .but {
  display: block;
  padding: 10px 30px;
  border: 0;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  background: #7492fe;
  color: #fff;
}
.tm_play_btn_sv > .but:hover {
  background: #416afe;
}
.tm_rsv_ttl {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500;
}
.tm_rsv_it + .tm_rsv_it {
  margin-top: 30px;
}
.tm_rsv_tab_cnt {
  position: relative;
}
.tm_rsv_nav_txt {
  margin: 0;
  padding: 3px 12px;
}
.tm_match {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tm_match_it.club {
  flex: 1 1;
  display: flex;
  align-items: center;
  font-size: 17px;
}
.tm_match_it.club > .img {
  width: 26px;
  height: 26px;
  background: center / contain no-repeat;
}
.tm_match_it.club.left {
  justify-content: flex-end;
}
.tm_match_it.club.left > .img {
  margin-left: 5px;
}
.tm_match_it.club.right {
  justify-content: flex-start;
}
.tm_match_it.club.right > .img {
  margin-right: 5px;
}
.tm_match_it.score {
  flex: 0 0 auto;
  margin: 0 15px;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  background: #262e4c;
}
.tm_tour_btn_bx {
  padding-top: 35px;
}
.tm_tour_btn {
  display: block;
  padding: 7px 14px;
  position: absolute;
  bottom: 0;
  text-decoration: none !important;
  font-size: 15px;
  background: #6586fe;
  color: #fff !important;
}
.tm_tour_btn:hover {
  background: #e74c3c;
}
.tm_tour_btn.prev {
  border-top-right-radius: 15px;
  left: 0;
}
.tm_tour_btn.next {
  border-top-left-radius: 15px;
  right: 0;
}
.tb_tour_bx {
  padding: 10px;
  background: #3e4767;
  color: #fff;
}
.tb_tour {
  white-space: nowrap;
}
.tb_tour thead tr td {
  width: 20px;
  border: 1px solid #505a7d;
  font-size: 16px;
}
.tb_tour thead tr td:nth-of-type(2) {
  width: initial;
  min-width: 200px;
}
.tb_tour tbody tr td {
  border: 1px solid #505a7d;
  text-align: center;
}
.tb_tour_club {
  display: flex;
  align-items: center;
}
.tb_tour_club > img {
  height: 24px;
  margin-right: 10px;
}
.tm_asd {
  flex: 0 0 auto;
  width: 30%;
}
.tm_asd_it + .tm_asd_it {
  margin-top: 30px;
}
.tm_asd_tb_bx {
  overflow-y: hidden;
  overflow-x: auto;
}
.tm_asd_tb {
  width: 100%;
}
.tm_asd_tb thead {
  color: #fff;
}
.tm_asd_tb thead.default {
  background: #3e4767;
}
.tm_asd_tb thead.light_blue {
  background: #6586fe;
}
.tm_asd_tb thead.dark_blue {
  background: #5959ea;
}
.tm_asd_tb thead.pink {
  background: #ff4d6f;
}
.tm_asd_tb thead td {
  padding: 10px;
  line-height: 1;
  font-size: 19px;
}
.tm_asd_tb_h {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tm_asd_tb_h > .img {
  width: 22px;
  height: 22px;
  margin-right: 7px;
  background: center / contain no-repeat;
}
.tm_asd_tb tbody.default {
  background: #515a7b;
  color: #fff;
}
.tm_asd_tb tbody.default tr + tr {
  border-top: 1px solid #636c8e;
}
.tm_asd_tb tbody.default td + td {
  border-left: 1px solid #636c8e;
}
.tm_asd_tb tbody.light_blue {
  background: #3e4767;
  color: #fff;
}
.tm_asd_tb tbody.light_blue tr + tr {
  border-top: 1px solid #505a7d;
}
.tm_asd_tb tbody.light_blue td + td {
  border-left: 1px solid #505a7d;
}
.tm_asd_tb tbody td {
  padding: 10px;
  font-weight: 300;
}
.tm_asd_tb_idx {
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px;
  position: relative;
}
.tm_asd_tb_idx::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.tm_asd_tb_idx.incr::before {
  border-top: 0;
  border-bottom: 10px solid #13c352;
}
.tm_asd_tb_idx.decr::before {
  border-bottom: 0;
  border-top: 10px solid #ff010b;
}
.tm_asd_tb_pc_l_btn {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  text-align: center;
  font-size: 18px;
  background-color: transparent;
}
.tm_asd_tb_pc_l_num {
  margin: 0 5px;
  line-height: 19px;
}
.tm_ctrl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tm_ctrl_name {
  margin-right: 10px;
}
.tm_ctrl_swch {
  width: 90px;
  height: 24px;
  position: relative;
  cursor: pointer;
}
.tm_ctrl_swch > .rail {
  margin: 2px 0;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #3e4767;
}
.tm_ctrl_swch > .bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 11px;
  transition: all .3s ease;
  background: #687297;
}
.tm_ctrl_swch > .bar > .on {
  display: none;
}
.tm_ctrl_swch > .bar > .off {
  display: block;
}
.tm_ctrl_swch > .bar.active {
  left: 50%;
  box-shadow: 0 0 6px #6586fe;
  background: #6586fe;
}
.tm_ctrl_swch > .bar.active > .on {
  display: block;
}
.tm_ctrl_swch > .bar.active > .off {
  display: none;
}

/* INDEX TEAM
=======================================================================================================================*/
.tm_news_bx {
  display: flex;
  width: 100%;
  padding: 0 10px;
}
.tm_news_it {
  width: 50%;
}
.tm_news_it + .tm_news_it {
  margin-left: 30px;
}
.tm_news_dln_ttl, .tm_news_ttl {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
.tm_news_dln_txt {
  font-size: 17px;
}
.tm_news_dln_date {
  font-size: 17px;
  color: #b1c1fb;
}
.tm_news_plyr_it {
  display: flex;
  align-items: center;
}
.tm_news_plyr_it + .tm_news_plyr_it {
  margin-top: 15px;
}
.tm_news_plyr_it > .info > a {
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  background: #6586fe;
  color: #fff;
}
.tm_news_plyr_it > .name {
  margin: 0 5px;
  text-align: center;
  font-size: 17px;
}
.tm_news_plyr_it > .cond {
  font-size: 17px;
  color: #a5b4eb;
}

/* STATISTICS
=======================================================================================================================*/
.stats_head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  background: #6586fe;
  color: #fff;
}
.stats_head > img {
  margin-right: 10px;
}
.stats_ftr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background: #3e4767;
  color: #fff;
}
.stats_ftr_sel_bx {
  display: flex;
  align-items: center;
}
.stats_ftr_lbl {
  display: block;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 300;
}
.stats_ftr_sel {
  width: 150px;
  border-radius: 100px;
  position: relative;
  background: #2e3656;
}
.stats_ftr_sel > select {
  width: 100%;
  padding: 3px 10px;
  padding-right: 22px;
  border: 0;
  position: relative;
  z-index: 3;
  font-weight: 300;
  background-color: transparent;
}
.stats_ftr_sel > select > option {
  background: #2e3656;
}
.stats_ftr_sel > .ar {
  display: block;
  height: 10px;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
}
.stats_ftr_sel > .ar::before, .stats_ftr_sel > .ar::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
}
.stats_ftr_sel > .ar::before {
  margin-bottom: 2px;
  border-top: 0;
  border-bottom-color: #fff;
}
.stats_ftr_sel > .ar::after {
  border-bottom: 0;
  border-top-color: #fff;
}
.stats_ftr_btn > button {
  width: 150px;
  padding: 3px 10px;
  border: 0;
  border-radius: 100px;
  font-size: 15px;
  background: #6586fe;
}
.stats_ftr_btn > button:hover {
  background: #325efe;
}
.stats_tb_bx {
  overflow: hidden;
}
.stats_tb_bx .mCSB_container {
  margin-bottom: 0 !important;
}
.stats_tb_bx .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 2px;
}
.stats_tb_bx .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger_bar {
  height: 2px;
  margin: 0;
  border-radius: 0;
}
.stats_tb_bx .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  margin: 0;
}
.stats_tb {
  display: flex;
  background: #646f9a;
  color: #fff;
}
.stats_tb_main {
  flex: 0 0 auto;
  width: 40%;
  border-right: 1px solid #525b7d;
}
.stats_tb_col.mn > .stats_tb_row {
  padding-left: 30px;
}
.stats_tb_row {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 15px;
}
.stats_tb_row:nth-of-type(even) {
  background: #535e8a;
}
.stats_tb_row.head {
  background: #525b7d;
}
.stats_tb_nm_ls {
  display: flex;
  align-items: center;
}
.stats_tb_nm_ls > li + li {
  margin-left: 15px;
}
.stats_tb_nm_info > a {
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  background: #6586fe;
  color: #fff;
}
.stats_tb_nm_ufm > img {
  height: 40px;
}
.stats_tb_nm_txt {
  line-height: 1;
}
.stats_tb_nm_txt > .opt {
  display: flex;
  margin-top: 12px;
}
.stats_tb_nm_txt > .opt > .him {
  text-transform: uppercase;
  margin-right: 20px;
}
.stats_tb_nm_txt > .opt > .aiv {
  text-transform: uppercase;
  color: #2e3656;
}
.stats_tb_asd {
  width: 60%;
}
.stats_tb_fld {
  display: flex;
}
.stats_tb_fld .stats_tb_col {
  flex: 1 1 auto;
  min-width: 150px;
}
.stats_foot {
  padding: 50px 15px;
  background: #646f9a;
  color: #fff;
}
.stats_pgn {
  display: flex;
  justify-content: center;
}
.stats_pgn_ls {
  display: flex;
  flex-wrap: wrap;
}
.stats_pgn_ls > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 13px;
  color: inherit;
}
.stats_pgn_ls > li.active > a,
.stats_pgn_ls > li > a:hover {
  background: #6586fe;
}
.stats_pgn_ls > li.last > a {
  width: initial;
  padding: 0 10px;
  border-radius: 100px;
}
.stats_pgn_ls > li.last > a > .txt {
  margin-right: 5px;
  text-transform: uppercase;
}

/* LEAGUE
=======================================================================================================================*/
.lig {
  width: 100%;
}
.lig_it {
  margin-bottom: 50px;
}
.lig_bnr_bx {
  position: relative;
}
.lig_bnr_it > img {
  width: 100%;
}
.lig_bnr_btn {
  background: rgba(121, 121, 121, 0.3);
}
.lig_bnr_btn.next {
  right: 0;
}
.lig_bnr_btn.prev {
  left: 0;
}
.lig_new_btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.lig_new_btn > a {
  display: block;
  padding: 10px 30px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 16px;
  background: #6586fe;
  color: #fff;
}
.lig_new_btn > a:hover {
  background: #325efe;
}

/* NEWS
=======================================================================================================================*/
.news_sort {
  display: flex;
}
.news_sort > li + li {
  margin-left: 15px;
}
.news_sort > li > a {
  display: block;
  border-bottom: 1px dashed #b8b8b8;
  text-decoration: none;
  color: #b8b8b8;
}
.news_sort > li.active > a,
.news_sort > li > a:hover {
  border-bottom-color: #6586fe;
  color: #6586fe;
}

.news_it {
  display: flex;
}
.news_it + .news_it {
  margin-top: 50px;
}
.news_img {
  width: 25%;
  margin-right: 20px;
}
.news_img > a {
  display: block;
}
.news_img > a:hover {
  filter: brightness(120%);
}
.news_img > a > img {
  width: 100%;
}
.news_txt {
  width: 75%;
}
.news_date {
  margin-bottom: 10px;
}
.news_date > p {
  margin-bottom: 0;
  font-size: 12px;
  color: #6586fe;
}
.news_name {
  margin-bottom: 10px;
}
.news_name > a {
  display: block;
  line-height: 1.2;
  text-decoration: none;
  font-size: 24px;
  color: inherit;
}
.news_name > a:hover {
  color: #e74c3c;
}
.news_desc > p {
  font-size: 16px;
}
.news_foot {
  padding: 50px 0;
}
.news_pgn_ls > li.active > a,
.news_pgn_ls > li > a:hover {
  color: #fff;
}

/* INVITE
=======================================================================================================================*/
.inv_it + .inv_it {
  margin-top: 30px;
}
.inv_h {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 21px;
  color: #6586fe;
}
.inv_p {
  font-size: 18px;
}
.inv_p > a {
  color: #6586fe;
}
.inv_soc {
  display: flex;
}
.inv_soc > li + li {
  margin-left: 15px;
}
.inv_soc > li > a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.inv_soc > li > a > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
}
.inv_inp {
  height: initial;
  margin-bottom: 10px;
  padding: 10px 15px;
}
.inv_txtar {
  min-width: 100%;
  max-width: 100%;
}
.inv_notice {
  padding: 20px 15px;
  border-radius: 5px;
  background: #e8e8e8;
}
.inv_btn_send {
  display: flex;
  justify-content: center;
}
.inv_btn_send > button {
  padding: 10px 30px;
  border: 0;
  border-radius: 100px;
  font-size: 16px;
  background: #6586fe;
  color: #fff;
}
.inv_btn_send > button:hover {
  background: #325efe;
}

/* TRANSFER
=======================================================================================================================*/
.trsf_asd_tb_bx {
  overflow-y: hidden;
  overflow-x: auto;
  background: #646f9a;
  color: #fff;
}
.trsf_asd_tb_hd {
  padding: 10px;
  line-height: 1;
  font-size: 19px;
  background: #525b7d;
}
.trsf_asd_tb_bd {
  padding: 15px 10px;
}
.trsf_asd_tb {
  width: 100%;
}
.trsf_asd_tb tr:nth-of-type(odd) {
  background: #535e8a;
}
.trsf_asd_tb tr td {
  padding: 7px;
  font-weight: 300;
}
.trsf_asd_tb_ft {
  padding: 10px;
}

.trsf_play_btn {
  margin-bottom: 30px;
}
.trsf_play_btn > .but {
  padding: 7px 20px;
  font-size: 14px;
}

.trsf_res_it {
  padding: 0;
}

.trsf_bdg {
  width: 100%;
}
.trsf_bdg_bd {
  padding: 20px 10px;
}
.trsf_bdg_ls {
  display: flex;
}
.trsf_bdg_ls > li {
  flex: 1 1 auto;
  padding: 0 10px;
  text-align: center;
}
.trsf_bdg_ls > li + li {
  border-left: 1px solid #a2b2ec;
}
.trsf_bdg_ttl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}
.trsf_bdg_ttl > .txt {
  border-bottom: 1px dashed #fff;
}
.trsf_bdg_ttl > .add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 14px;
  background: #6586fe;
  color: #fff;
}
.trsf_bdg_ttl > img {
  height: 26px;
}
.trsf_bdg_num {
  font-size: 30px;
  color: #b1c1fb;
}
.trsf_bdg_ft {
  display: flex;
  justify-content: space-between;
  padding: 7px 20px;
  background: #303753;
}
.trsf_bdg_tip, .trsf_bdg_reset {
  display: flex;
}
.trsf_bdg_tip > a, .trsf_bdg_reset > a {
  display: block;
  border-bottom: 1px dashed #fff;
  text-decoration: none;
  color: #fff;
}
.trsf_bdg_tip > a:hover, .trsf_bdg_reset > a:hover {
  border-bottom-style: solid;
}

.trsf_mdl .modal-dialog {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  padding: 10px;
}
.trsf_mdl .modal-content {
  border-radius: 0;
}
.trsf_mdl_cnt {
  position: relative;
}
.trsf_mdl_close {
  width: 30px;
  height: 30px;
  border: 0;
  position: absolute;
  top: -30px;
  right: -30px;
  background-color: transparent;
}
.trsf_mdl_close::before, .trsf_mdl_close::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}
.trsf_mdl_close::before {
  transform: rotate(45deg);
}
.trsf_mdl_close::after {
  transform: rotate(-45deg);
}
.trsf_mdl_man_bx {
  position: relative;
  overflow: hidden;
  background: linear-gradient(#fff, #eee, #fff);
}
.trsf_mdl_man_bx > .name {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 20px;
  text-align: center;
  white-space: nowrap;
  font-size: 70px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.02);
}
.trsf_mdl_man_bx > .club {
  margin-bottom: 0;
  position: absolute;
  right: 20px;
  bottom: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.02);
}
.trsf_mdl_man {
  display: flex;
  padding-top: 30px;
  position: relative;
  z-index: 2;
}
.trsf_mdl_man_it {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.trsf_mdl_man_img {
  overflow: hidden;
}
.trsf_mdl_man_img > img {
  position: relative;
  top: 10px;
}
.trsf_mdl_man_info {
  font-size: 16px;
}
.trsf_mdl_man_info > .name {
  font-size: 22px;
  font-weight: 500;
}
.trsf_mdl_man_info > .type {
  color: #6586fe;
}
.trsf_mdl_man_info > .club {
  margin-bottom: 0;
}
.trsf_mdl_man_club > img {
  max-width: 70px;
  max-height: 70px;
}
.trsf_mdl_sts_info {
  padding: 10px 15px;
  background: #ececec;
}
.trsf_mdl_sts_info_ls, .trsf_mdl_sts_skill_ls {
  display: flex;
}
.trsf_mdl_sts_info_ls > li, .trsf_mdl_sts_skill_ls > li {
  flex: 1 1 auto;
  padding: 0 10px;
  text-align: center;
}
.trsf_mdl_sts_info_ls > li > .ttl, .trsf_mdl_sts_skill_ls > li > .ttl {
  margin-bottom: 5px;
  font-size: 16px;
}
.trsf_mdl_sts_skill {
  padding: 10px 15px;
  background: #6280ec;
  color: #fff;
}
.trsf_mdl_his_btn {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.trsf_mdl_his_btn_ls {
  display: flex;
  border-radius: 100px;
  background: #9aa2c3;
  color: #fff;
}
.trsf_mdl_his_btn_ls > li > a {
  display: block;
  padding: 3px 10px;
  border-radius: 100px;
  text-decoration: none;
  color: inherit;
}
.trsf_mdl_his_btn_ls > li.active > a {
  background: #6586fe;
}

.tb_fixture {
  white-space: nowrap;
}
.tb_fixture thead tr {
  border-bottom: 1px solid #505a7d;
}
.tb_fixture thead td + td {
  border-left: 1px solid #505a7d;
}

/* MODAL REGISTRATION
=======================================================================================================================*/
.reg_mdl .modal-content {
  border-radius: 0;
}
.reg_mdl_cls {
  display: block;
  width: 30px;
  height: 30px;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}
.reg_mdl_cls::before, .reg_mdl_cls::after {
  content: '';
  display: block;
  width: 16px;
  height: 1px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #e74c3c;
}
.reg_mdl_cls::before {
  transform: rotate(45deg);
}
.reg_mdl_cls::after {
  transform: rotate(-45deg);
}
.reg_mdl_ttl {
  margin: 0;
  text-align: center;
}
.reg_mdl_lbl {
  font-size: 13px;
  font-weight: normal;
}
.reg_mdl_inp_tel .intl-tel-input {
  display: block;
}
.reg_mdl_inp_tel .flag-container .selected-flag {
  outline: 0;
}
.reg_mdl_inp {
  height: 40px;
  border-radius: 0;
}
.reg_mdl_forget {
  text-align: center;
}
.reg_mdl_forget > a {
  font-size: 13px;
  color: #e74c3c;
}
.reg_mdl_btn > button {
  width: 100%;
  padding: 7px;
  border: 0;
  text-transform: uppercase;
  font-size: 17px;
  background: #e74c3c;
  color: #fff;
}
.reg_mdl_btn > button:hover {
  background: #d62c1a;
}

/* FOOTER
=======================================================================================================================*/
/*__________ Logo +++ __________*/
/*__________ Logo __________*/
