/*__________ Fonts +++ __________*/
/*__________ Fonts --- __________*/
/*__________ Heritage +++ __________*/
/*__________ Heritage --- __________*/
/*__________ Absolute +++ __________*/
/*__________ Absolute --- __________*/
/*__________ Animation +++ __________*/
/*__________ Animation --- __________*/
/*__________ Column +++ __________*/
/*__________ Column --- __________*/
/*__________ Button Color +++ __________*/
/*__________ Button Color --- __________*/
/* MIN WIDTH
=======================================================================================================================*/
/* Min Width = 480px
-----------------------------------------------------------------------*/
@media (min-width: 480px) {
  /* Min Width = 480px END */
}
/* Min Width = 768px
-----------------------------------------------------------------------*/
@media (min-width: 768px) {
  .hdr_top_sec {
    transition: all .3s ease 1s;
  }
  .hdr_top_sec.fixed {
    padding-top: 15px;
    position: fixed;
    transition-delay: 0s;
    background: #141414;
  }
  .hdr_top_logo {
    position: absolute;
    animation: fadeOutUp .5s ease both;
  }
  .hdr_top_sec.fixed .hdr_top_logo {
    animation: fadeInDown .5s ease .8s both;
  }
  .hdr_top_l {
    transition: all .5s ease .5s;
  }
  .hdr_top_sec.fixed .hdr_top_l {
    transform: translateX(100px);
    transition-delay: .3s;
  }

  /* Min Width = 768px END */
}
/* Min Width = 992px
-----------------------------------------------------------------------*/
@media (min-width: 992px) {
  .hdr_nav_bx.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 80;
    animation: fadeInDown .5s ease both;
  }

  /* Min Width = 992px END */
}
/* Min Width = 1200px
-----------------------------------------------------------------------*/
@media (min-width: 1200px) {
  /* Min Width = 1200px END */
}
/* Min Width = 1655px
-----------------------------------------------------------------------*/
@media (min-width: 1655px) {
  /* Min Width = 1655px END */
}
/* MAX WIDTH
=======================================================================================================================*/
/* Max Width = 1654px
-----------------------------------------------------------------------*/
@media (max-width: 1654px) {
  /* Max Width = 1654px END */
}
/* Max Width = 1199px
-----------------------------------------------------------------------*/
@media (max-width: 1199px) {
  .hdr_nav_us_bx {
    margin: 0 15px;
  }

  .hdr_nav_info {
    padding: 0 15px;
  }

  .tm_news_bx {
    padding: 20px;
  }

  /* Max Width = 1199px END */
}
/* Max Width = 991px
-----------------------------------------------------------------------*/
@media (max-width: 991px) {
  .hdr_logo_txt {
    display: none;
  }

  .hdr_logo_bx .container {
    justify-content: center;
  }

  .hdr_nav_sec {
    height: initial;
  }

  .hdr_nav_menu {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(105%);
    transition: all 0.5s cubic-bezier(0, 0.7, 0.3, 1);
    background: rgba(20, 20, 20, 0.8);
    z-index: 99;
  }
  .hdr_nav_menu.active {
    transform: translateX(0);
  }
  .hdr_nav_menu_ls {
    display: block;
  }
  .hdr_nav_menu_ls > li > a {
    display: block;
    height: initial;
    padding: 10px;
    padding-left: 20px;
  }
  .hdr_nav_menu_ls > li.active > a,
  .hdr_nav_menu_ls > li > a:hover {
    background: #555;
  }
  .hdr_nav_menu_btn {
    display: flex;
  }

  .hdr_nav_menu_bg {
    display: block;
  }

  .ov-h {
    padding-right: 17px;
    overflow: hidden;
  }

  .tm_head {
    flex-direction: column;
    align-items: center;
  }

  .tm_ttl {
    margin-bottom: 10px;
  }

  .tm_body {
    flex-direction: column;
  }

  .tm_cnt {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .tm_asd {
    width: 100%;
  }

  .tm_res_tab_nav > li > a {
    font-size: 18px;
  }

  .tm_res_dtl {
    flex-direction: column;
    align-items: center;
  }

  .tm_res_dtl_it {
    width: 100%;
  }
  .tm_res_dtl_it + .tm_res_dtl_it {
    margin-top: 20px;
  }

  .tm_res_dtl_ttl {
    margin-bottom: 10px;
  }

  .stats_ftr {
    flex-direction: column;
  }

  .stats_ftr_it + .stats_ftr_it {
    margin-top: 15px;
  }

  .trsf_mdl_close {
    right: 0;
  }

  /* Max Width = 991px END */
}
/* Max Width = 767px
-----------------------------------------------------------------------*/
@media (max-width: 767px) {
  .hdr_top_sec {
    padding: 20px 0;
    position: static;
    background: #141414;
  }
  .hdr_top {
    flex-direction: column;
    align-items: center;
  }
  .hdr_top_l {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .hdr_appl_bx {
    margin-left: 0;
    margin-top: 15px;
  }

  .how_play_it_bx {
    flex-direction: column;
    align-items: center;
  }
  .how_play_it_bx::before {
    display: none;
  }
  .how_play_it {
    width: initial;
  }
  .how_play_it + .how_play_it {
    margin-top: 50px;
  }

  .how_play_ttl > h3,
  .dvs_ttl > h3 {
    font-size: 20px;
  }

  .dvs_it_bx {
    flex-direction: column;
  }
  .dvs_it {
    width: initial !important;
    padding: 20px 0;
  }
  .dvs_log {
    align-items: center;
  }
  .dvs_log_txt {
    text-align: center;
  }

  .bnr_ft_ntf > h3 {
    font-size: 20px;
  }

  .bnr_ft_menu_ls {
    flex-direction: column;
    align-items: center;
  }
  .bnr_ft_menu_ls > li + li {
    margin-left: 0;
    margin-top: 10px;
  }

  .ftr_top {
    flex-direction: column;
  }
  .ftr_social {
    margin-bottom: 15px;
  }
  .ftr_copy {
    text-align: center;
  }

  .hdr_logo,
  .hdr_bnr_btn {
    display: none;
  }

  .hdr_top_logo {
    margin-bottom: 20px;
  }

  .tm_match {
    flex-direction: column;
    text-align: center;
  }
  .tm_match_it.club {
    flex: 1 1 auto;
    flex-direction: column;
  }
  .tm_match_it.club.left > .img {
    margin-left: 0;
    margin-top: 5px;
  }
  .tm_match_it.club.right > .img {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .tm_match_it.score {
    margin: 15px 0;
  }

  .tm_play_man_img {
    display: none;
  }

  .tm_play_std_cnt {
    padding: 20px 0;
    padding-top: 40px;
  }
  .tm_play_std_it_bx + .tm_play_std_it_bx {
    margin-top: 15px;
  }
  .tm_play_std_it {
    margin: 5px;
  }
  .tm_play_std_it .tm_play_man_name {
    font-size: 10px;
  }
  .tm_play_capt_it_bx {
    flex-direction: column;
    align-items: center;
  }

  .tm_play_capt_it {
    flex-direction: column;
  }
  .tm_play_capt_it + .tm_play_capt_it {
    margin-top: 20px;
  }

  .tm_play_capt_txt {
    margin-right: 0;
  }

  .tm_news_bx {
    flex-direction: column;
    padding: 0;
  }

  .tm_news_it {
    width: initial;
  }
  .tm_news_it + .tm_news_it {
    margin-left: 0;
    margin-top: 30px;
  }

  .stats_ftr_sel_bx {
    flex-direction: column;
  }

  .stats_ftr_lbl {
    margin-right: 0;
  }

  .stats_tb_main,
  .stats_tb_asd {
    width: initial;
  }

  .stats_tb_fld .stats_tb_col {
    min-width: initial;
  }

  .news_sort {
    flex-direction: column;
    align-items: center;
  }
  .news_sort > li + li {
    margin-left: 0;
    margin-top: 15px;
  }

  .news_it {
    flex-direction: column;
  }

  .news_img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .news_txt {
    width: 100%;
  }

  .news_name > a {
    font-size: 20px;
  }

  .news_desc > p {
    font-size: 14px;
  }

  .trsf_bdg_ls {
    flex-direction: column;
  }
  .trsf_bdg_ls > li {
    padding: 10px 0;
  }
  .trsf_bdg_ls > li + li {
    border-left: 0;
    border-top: 1px solid #a2b2ec;
  }

  .trsf_bdg_ft {
    flex-direction: column;
    align-items: center;
  }

  .trsf_bdg_tip {
    margin-bottom: 15px;
  }

  .trsf_mdl_man {
    flex-direction: column;
  }

  .trsf_mdl_man_it.info, .trsf_mdl_man_it.club {
    padding: 15px 10px;
    background-color: #fff;
  }

  .trsf_mdl_man_info {
    text-align: center;
  }

  .trsf_mdl_sts_info_ls,
  .trsf_mdl_sts_skill_ls {
    flex-direction: column;
  }
  .trsf_mdl_sts_info_ls > li,
  .trsf_mdl_sts_skill_ls > li {
    padding: 10px;
  }

  .hdr_bnr_it {
    height: 300px;
  }

  /* Max Width = 767px END */
}
/* Max Width = 479px
-----------------------------------------------------------------------*/
@media (max-width: 479px) {
  .hdr_nav {
    flex-wrap: wrap;
  }
  .hdr_nav_us_bx {
    margin: 0;
  }
  .hdr_nav_us_body {
    left: initial;
    right: 0;
  }
  .hdr_nav_info {
    justify-content: space-around;
    width: 100%;
    padding: 10px;
  }
  .hdr_nav_info_it + .hdr_nav_info_it {
    margin-left: 0;
  }
  .hdr_nav_info_it > a {
    display: block;
    height: initial;
  }
  .hdr_nav_info_it > a > .txt {
    margin-right: 10px;
  }

  .trsf_mdl_man_bx > .name {
    left: -100%;
    right: -100%;
    font-size: 50px;
  }

  .trsf_mdl_man_bx > .club {
    display: none;
  }

  .hdr_bnr_it {
    height: 200px;
  }

  /* Max Width = 479px END */
}
