

%placeholder {

	&::-webkit-input-placeholder {
		color: inherit;
	}
	
	&::-moz-placeholder {
		color: inherit;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: inherit;
	}

	&:-moz-placeholder {
		color: inherit;
		opacity: 1;
	}

	&::placeholder {
		color: inherit;
		opacity: 1;
	}
}





/* ELEMENTS
=======================================================================================================================*/



