
// Colors
$baseColor: #e74c3c;

$btnColor: #1ab14f;




// Socials
$facebook: #3b589e;
$twitter: #00aced;
$instagram: #c21975;
$vkontakte: #436eab;
$youtube: #fe0000;
$googlePlus: #dc4a38;
$odnoklassniki: #f58220;

