
@import 'variables';
@import 'mixins';
@import 'heritage';
@import 'operations';
@import 'fonts';


body {
	font-family: $fontBase, sans-serif;
	font-weight: normal;
}


img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}

a:focus {
	text-decoration: none;
}

li {
	text-align: inherit;
}




/*__________ Custom Classes +++ __________*/
.cl-b {

	&::before,
	&::after {
		content: '';
		display: table;
	}

	&::after {
		clear: both;
	}
}
.lis-n {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.tov-e {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.d-ib {
	display: inline-block;
	vertical-align: middle;
}
.us-n {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.ap-n {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.inr-c {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*__________ Custom Classes --- __________*/





.d-b {
	display: block !important;
}






/* HEADER
=======================================================================================================================*/

.header {

	@at-root .hdr_wrp {
		position: relative;
	}
}

/*__________ Header Top +++ __________*/
.hdr_top_sec {
	padding: 40px 0 15px;
	@include Absolute(0, 0, null, 0);
	z-index: 20;


	@at-root .hdr_top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		@at-root .hdr_top_logo {
			height: 40px;

			> a {
				display: block;
				height: 100%;

				> img {
					max-height: 100%;
				}
			}
		}


		@at-root .hdr_top_l {
			display: flex;
			align-items: center;


			@at-root .hdr_reg {
				display: flex;
				align-items: flex-start;

				@at-root .hdr_reg_img {
					margin-right: 10px;

					> img {

					}
				}


				@at-root .hdr_reg_txt {
					border-bottom: 1px dashed #fff;
					color: #fff;

					> a {
						text-decoration: none;
						color: inherit;

						&:hover {
							color: $baseColor;
						}
					}
				}
			}


			@at-root .hdr_appl_bx {
				display: flex;
				margin-left: 30px;

				@at-root .hdr_appl_it {

					& + & {
						margin-left: 10px;
					}


					@at-root .hdr_appl {
						display: block;

						> img {

						}
					}
				}
			}
		}


		@at-root .hdr_top_r {

			@at-root .hdr_lang {

				@at-root .hdr_lang_sel {
					position: relative;

					@at-root .hdr_lang_sel_ttl {
						display: flex;
						align-items: center;
						padding-right: 15px;
						position: relative;
						cursor: pointer;
						font-weight: 300;
						color: #fff;

						&::before {
							content: '';
							display: block;
							width: 0;
							height: 0;
							border: 4px solid transparent;
							border-bottom: 0;
							border-top-color: #fff;
							@include Absolute(0, 0, 0, null, auto);
						}


						> img {
							height: 14px;
							margin-right: 5px;
							border-radius: 2px;
						}


						> span {

						}
					}


					@at-root .hdr_lang_sel_cnt {
						display: none;
						min-width: 130%;
						border: 1px solid #eee;
						@include Absolute(100%, 0);
						background: #fff;

						@at-root .hdr_lang_sel.active > & {
							display: block;
						}


						@at-root .hdr_lang_sel_ls {

							> li {
								display: flex;
								align-items: center;
								padding: 5px 10px;
								cursor: default;

								&:hover {
									background: $baseColor;
									color: #fff;
								}


								> img {
									height: 14px;
									margin-right: 5px;
									border-radius: 2px;
								}


								> span {

								}
							}
						}
					}
				}
			}
		}
	}
}
/*__________ Header Top --- __________*/



/*__________ Header Baner +++ __________*/
.hdr_bnr_sec {
	margin-bottom: 70px;

	@at-root .hdr_bnr_bx {
		position: relative;

		@at-root .hdr_logo_bx {
			@include Absolute(0, 0, 0, 0);

			.container {
				display: flex;
				align-items: center;
				height: 100%;

				@at-root .hdr_logo {
					position: relative;
					z-index: 3;

					@at-root .hdr_logo_img {
						display: flex;
						justify-content: center;

						> a {
							display: block;

							> img {

							}
						}
					}


					@at-root .hdr_logo_txt {
						margin-top: 20px;
						text-align: center;
						color: #fff;

						@at-root .hdr_logo_txt_it {

							& + & {
								margin-top: 10px;
							}


							&.name {
								text-transform: uppercase;
								font-size: 27px;
								font-weight: bold;
							}


							&.capt {
								font-weight: 300;
							}


							&.leag {
								font-size: 16px;
							}
						}
					}
				}
			}
		}


		@at-root .hdr_bnr_body {
			position: relative;

			@at-root .hdr_bnr {

				@at-root .hdr_bnr_it {
					height: 500px;
					background: center / cover no-repeat;
				}
			}


			@at-root .hdr_bnr_nav {

				@at-root .hdr_bnr_btn {
					width: 40px;
					height: 40px;
					border-radius: 3px;
					@include Absolute(0, null, 0, null, auto);
					cursor: pointer;
					font-size: 22px;
					transition: all .3s ease;
					background: rgba(#fff, .3);
					color: #000;
					z-index: 5;

					&:hover {
						background: $baseColor;
						color: #fff;
					}


					&.next {
						right: 30px;
					}


					&.prev {
						left: 30px;
					}


					> i {

					}
				}
			}
		}


		@at-root .hdr_bnr_foot {
			height: 100px;
			@include Absolute(null, 0, 0, 0);
			z-index: 5;


			@at-root .hdr_bnr_ft_angl {
				display: flex;
				justify-content: center;
				width: 100%;
				height: 100%;
				overflow: hidden;

				&::before {
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-top: 100px solid transparent;
					border-left: 1000px solid #fff;
					border-right: 1000px solid #fff;
				}
			}


			@at-root .hdr_bnr_ft_btn_bx {
				width: 50px;
				height: 50px;
				@include Absolute(null, 0, -25px, 0, auto);
				z-index: 3;

				&::before,
				&::after {
					content: '';
					display: block;
					border-radius: 50%;
					@include Absolute(0, 0, 0, 0);
					@include AnimationKey(btnZoomOut) {
						0% {
							opacity: 0;
							transform: scale(4);
						}
						50% {
							opacity: 1;
							transform: scale(1);
						}
						100% {
							opacity: 1;
							transform: scale(1);
						}
					}
					background: rgba($baseColor, .3);
				}

				&::before {
					animation: btnZoomOut 4s ease 0s infinite;
				}

				&::after {
					animation: btnZoomOut 4s ease 0.5s infinite;
				}


				@at-root .hdr_bnr_ft_btn {
					width: 100%;
					height: 100%;
					padding: 0;
					border: 0;
					border-radius: 50%;
					position: relative;
					font-size: 25px;
					transition: all .3s ease;
					background: #f4f5f9;
					color: $baseColor;
					z-index: 3;

					&:hover {
						background: $baseColor;
						color: #fff;
					}


					> i {

					}
				}
			}
		}
	}
}
/*__________ Header Baner --- __________*/





/*__________ Header Navigation +++ __________*/
.hdr_nav_sec {
	height: 60px;

	@at-root .hdr_nav_bx {
		background: #141414;

		@at-root .hdr_nav {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			@at-root .hdr_nav_logo {

				> a {
					height: 60px;
					padding: 5px 0;

					> img {
						max-height: 100%;
					}
				}
			}


			@at-root .hdr_nav_us_bx {
				margin: 0 30px;

				@at-root .hdr_nav_us {
					position: relative;
					perspective: 500px;

					@at-root .hdr_nav_us_head {

						> a {
							height: 60px;
							text-decoration: none;
							font-weight: 300;
							color: #fff;

							&:hover {
								color: $baseColor;
							}


							@at-root .hdr_nav_us_img {
								margin-right: 7px;

								> img {

								}
							}


							@at-root .hdr_nav_us_name {
								padding-right: 13px;
								border-bottom: 1px dashed #fff;
								position: relative;

								&::before {
									content: '';
									display: block;
									width: 0;
									height: 0;
									border: 4px solid transparent;
									border-top-color: #fff;
									border-bottom: 0;
									@include Absolute(0, 0, 0, null, auto);
									transition: all .4s ease;
								}
								
								
								.hdr_nav_us.active &::before {
									transform: rotate(180deg);
								}
							}
						}
					}


					@at-root .hdr_nav_us_body {
						min-width: 100%;
						border-top: 0;
						@include Absolute(100%, null, null, 0);
						opacity: 0;
						visibility: hidden;
						box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
						transform: rotate3d(1, 0, 0, -90deg);
						transform-origin: top;
						transition: all .4s ease;
						background: #fff;
						z-index: 10;

						.hdr_nav_us.active > & {
							opacity: 1;
							visibility: visible;
							transform: rotate3d(0, 0, 0, 0);
						}


						@at-root .hdr_nav_us_menu {

							> li {

								> a {
									display: block;
									padding: 7px 14px;
									white-space: nowrap;
									text-decoration: none;
									font-size: 13px;
									color: inherit;

									&:hover {
										background: $baseColor;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}


			@at-root .hdr_nav_menu {
				flex: 1 1 auto;

				@at-root .hdr_nav_menu_ls {
					display:flex;

					> li {
						flex: 1 1 auto;

						> a {
							display: flex;
							justify-content: center;
							align-items: center;
							height: 60px;
							text-decoration: none;
							color: #fff;
						}
						
						
						&.active > a,
						> a:hover {
							background: #6586fe;
						}
					}
				}
			}
			
			@at-root .hdr_nav_menu_btn {
				display: none;
				flex-direction: column;
				width: 40px;
				height: 40px;
				border: 1px solid #fff;
				border-radius: 4px;
				position: fixed;
				top: 15px;
				right: 15px;
				box-shadow: 0 0 7px #888;
				transition: all 0.5s cubic-bezier(0, 0.7, 0.3, 1);
				background: $baseColor;
				z-index: 99;
				
				> .line {
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					position: relative;
					transition: all .3s ease .5s;
					background-color: #fff;
					
					&:nth-of-type(1) {
						top: 3px;
						left: 0;
					}
					
					&:nth-of-type(2) {
						top: -3px;
						right: 0;
					}
					
					&:nth-of-type(3) {
					
					}
					
					&:nth-of-type(4) {
						bottom: -3px;
						left: 0;
					}
					
					&:nth-of-type(5) {
						bottom: 3px;
						right: 0;
					}
				}
				
				&.active {
					right: 265px;
					
					> .line {
						
						&:nth-of-type(1) {
							left: -9px;
						}
						
						&:nth-of-type(2) {
							right: -9px;
						}
						
						&:nth-of-type(3) {
						
						}
						
						&:nth-of-type(4) {
							left: -9px;
						}
						
						&:nth-of-type(5) {
							right: -9px;
						}
					}
				}
			}
			
			@at-root .hdr_nav_menu_bg {
				display: none;
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 0;
				visibility: hidden;
				background-color: transparent;
				z-index: 95;
				
				&.active {
					opacity: 1;
					visibility: visible;
				}
			}


			@at-root .hdr_nav_info {
				display: flex;
				padding: 0 30px;
				background: #2b2b2b;

				@at-root .hdr_nav_info_it {

					& + & {
						margin-left: 20px;
					}


					> a {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						height: 60px;
						text-decoration: none;
						color: #fff;

						> .txt {
							font-size: 13px;
						}


						> .val {
							border-bottom: 1px dashed;
						}


						&:hover .val {
							border-bottom-style: solid;
						}
					}


					&.blc {

						> a {

							> .txt {

							}


							> .val {
								border-bottom-color: #dacd3a;
								text-shadow: 0 0 6px #dacd3a;
								color: #dacd3a;
							}
						}
					}


					&.rsv {

						> a {

							> .txt {

							}


							> .val {
								border-bottom-color: #ff4d6f;
								text-shadow: 0 0 6px #ff4d6f;
								color: #ff4d6f;
							}
						}
					}
				}
			}
		}
	}
}
/*__________ Header Navigation --- __________*/









/* MAIN
=======================================================================================================================*/
.main {
	
}
.main_inr {
	background: #f3f3f3;
}


/*__________ How Play +++ __________*/
.how_play_sec {
	margin-bottom: 50px;

	@at-root .how_play {

		@at-root .how_play_ttl {
			margin-bottom: 50px;
			text-align: center;

			> h3 {
				margin-top: 0;
				font-size: 27px;
				font-weight: bold;
			}


			> p {
				color: #999;
			}


			@at-root .how_play_ttl_hr {
				height: 20px;
				position: relative;

				&::before {
					content: '';
					display: block;
					width: 30px;
					height: 30px;
					border: 10px solid #fff;
					border-radius: 50%;
					@include Absolute(0, 0, 0, 0, auto);
					background: $baseColor;
					z-index: 2;
				}


				&::after {
					content: '';
					display: block;
					width: 200px;
					height: 1px;
					@include Absolute(0, 0, 0, 0, auto);
					background: #999;
				}
			}
		}


		@at-root .how_play_cnt {

			@at-root .how_play_it_bx {
				display: flex;
				justify-content: space-around;
				position: relative;

				&::before {
					content: '';
					display: block;
					height: 1px;
					@include Absolute(80px, 0, null, 0);
					background: #999;
				}


				@at-root .how_play_it {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 24%;

					@at-root .how_play_img {
						display: block;
						width: 160px;
						height: 160px;
						margin-bottom: 50px;
						position: relative;

						> img {
							padding: 25px;
							@include Absolute(0, 0, 0, 0, auto);
							z-index: 3;
						}


						@at-root .how_play_img_bdr {
							@include Absolute(0, 0, 0, 0);
							transform: rotate(45deg);
							background: #fff;

							&::before,
							&::after {
								content: '';
								display: block;
								@include Absolute(10px, 10px, 10px, 10px, auto);
								transition: all .3s ease;
								background: #fff;
							}


							&::before {
								border: 2px dashed #ddd;
								z-index: 1;
							}


							&::after {
								border: 2px solid $baseColor;
								z-index: 2;
							}


							@at-root .how_play_img:hover > &::after {
								transform: rotate(-45deg);
							}
						}
					}


					@at-root .how_play_txt {
						text-align: center;

						@at-root .how_play_name {
							margin-bottom: 10px;

							> p {
								margin-bottom: 0;
								text-transform: uppercase;
								font-size: 18px;
								font-weight: 500;
								color: $baseColor;
							}
						}


						@at-root .how_play_desc {

							> p {
								margin-bottom: 0;
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
}
/*__________ How Play --- __________*/





/*__________ League Ads +++ __________*/
.league_ads {

	@at-root .league_ads_img {
		text-align: center;
		background: #12110d;

		> a {
			display: block;

			> img {

			}
		}
	}
}
/*__________ League Ads --- __________*/





/*__________ Site Statistics +++ __________*/
.site_sts_sec {

	@at-root .site_sts_bx {
		padding: 50px 0;
		position: relative;

		@at-root .site_sts_img {
			@include Absolute(0, 0, 0, 0);
			background: center / cover no-repeat fixed;

			&::before {
				content: '';
				display: block;
				@include Absolute(0, 0, 0, 0);
				background: rgba(#000, .5);
			}
		}


		@at-root .site_sts {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			position: relative;
			z-index: 3;

			@at-root .site_sts_it {
				flex: 1 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 10px;

				@at-root .site_sts_icon {
					width: 100px;
					height: 100px;
					margin-bottom: 30px;
					border: 1px solid #fff;
					border-radius: 50%;

					> img {

					}
				}


				@at-root .site_sts_info {
					text-align: center;
					color: #fff;

					@at-root .site_sts_num {
						margin-bottom: 5px;
						font-size: 20px;
						font-weight: 500;
					}


					@at-root .site_sts_txt {
						font-size: 13px;
						font-weight: 300;
					}
				}
			}
		}
	}
}
/*__________ Site Statistics --- __________*/





/*__________ Business Ads +++ __________*/
.bs_ads {
	margin-bottom: 50px;

	@at-root .bs_ads_img {
		text-align: center;

		> a {
			display: block;

			> img {

			}
		}
	}
}
/*__________ Business Ads --- __________*/





/*__________ Device +++ __________*/
.dvs_sec {
	margin-bottom: 50px;

	@at-root .dvs_ttl {
		@extend .how_play_ttl;

		> h3 {
			margin-bottom: 30px;
		}


		.how_play_ttl_hr {

		}
	}


	@at-root .dvs_cnt {

		@at-root .dvs_it_bx {
			display: flex;
			justify-content: center;

			@at-root .dvs_it {
				padding: 0 20px;

				&.img {
					width: 60%;
				}


				&.txt {
					width: 40%;
				}


				@at-root .dvs_img {
					text-align: center;

					> img {

					}
				}


				@at-root .dvs_log {
					display: flex;
					flex-direction: column;

					@at-root .dvs_log_txt {
						font-size: 16px;
						font-weight: 300;
					}


					@at-root .dvs_log_btn {
						display: flex;
						margin: 20px 0;

						> a {
							display: block;
							padding: 12px 22px;
							border-radius: 5px;
							text-transform: uppercase;
							text-decoration: none;
							font-size: 17px;
							@include ButtonBgColor($btnColor, 5%);
							color: #fff;
						}
					}


					@at-root .dvs_log_app {
						display: flex;

						@at-root .dvs_log_app_it {

							& + & {
								margin-left: 25px;
							}


							> a {
								display: block;

								> img {

								}
							}
						}
					}
				}
			}
		}
	}
}
/*__________ Device --- __________*/





/*__________ Partners +++ __________*/
.part_sec {

	@at-root .part {
		padding: 50px 0;
		background: #e6e7eb;

		@at-root .part_bnr_bx {
			position: relative;

			@at-root .part_bnr {
				padding: 0 40px;

				.owl-item {
					height: 60px;

					&.loading {
						min-height: initial;
					}
				}


				@at-root .part_bnr_it {
					height: 100%;
					padding: 0 15px;

					> img {
						max-height: 100%;
						filter: grayscale(100%);
						transition: all .3s ease;

						&:hover {
							filter: grayscale(0%);
						}
					}
				}
			}


			@at-root .part_bnr_nav {

				@at-root .part_bnr_btn {
					width: 40px;
					height: 40px;
					border-radius: 3px;
					@include Absolute(0, null, 0, null, auto);
					cursor: pointer;
					font-size: 22px;
					background: #fff;
					color: inherit;

					&:hover {
						background: $baseColor;
						color: #fff;
					}


					&.next {
						right: 0;
					}


					&.prev {
						left: 0;
					}


					> i {

					}
				}
			}
		}
	}
}
/*__________ Partners --- __________*/





/*__________ Baner Foot +++ __________*/
.bnr_ft_sec {

	@at-root .bnr_ft_bx {
		@extend .site_sts_bx;

		@at-root .bnr_ft_img {
			@extend .site_sts_img;

			&::before {
				background: rgba(#000, .6);
			}
		}


		@at-root .bnr_ft {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			color: #fff;
			z-index: 3;

			@at-root .bnr_ft_logo {
				margin-bottom: 30px;

				> a {
					display: block;

					> img {

					}
				}
			}


			@at-root .bnr_ft_ntf {
				margin-bottom: 30px;
				text-align: center;

				> h3 {
					margin-top: 0;
					font-size: 27px;
					font-weight: normal;
				}


				> p {
					margin-bottom: 0;
					font-size: 16px;
					font-weight: 300;
				}
			}


			@at-root .bnr_ft_btn {
				display: flex;
				margin-bottom: 30px;

				> a {
					display: block;
					padding: 12px 22px;
					border-radius: 5px;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 17px;
					box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
					@include ButtonBgColor($btnColor, 5%);
					color: #fff;
				}
			}


			@at-root .bnr_ft_menu {

				@at-root .bnr_ft_menu_ls {
					display: flex;

					> li {

						& + li {
							margin-left: 30px;
						}


						> a {
							display: block;
							text-decoration: none;
							color: inherit;

							&:hover {
								color: $baseColor;
							}
						}
					}
				}
			}
		}
	}
}
/*__________ Baner Foot --- __________*/














/* FOOTER
=======================================================================================================================*/
.footer {

	@at-root .ftr_inr {
		padding: 50px 0;
		position: relative;
		background: #141414;

		@at-root .ftr_btn_anchor {
			width: 50px;
			height: 50px;
			border: 0;
			border-radius: 50%;
			@include Absolute(-25px, 0, null, 0, auto);
			font-size: 24px;
			@include ButtonBgColor($baseColor);
			color: #fff;
			z-index: 3;

			> i {

			}
		}
	}
}






/*__________ Footer Top +++ __________*/
.ftr_top_sec {

	@at-root .ftr_top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@at-root .ftr_social {

			@at-root .ftr_social_ls {
				display: flex;

				> li {

					> a {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 30px;
						height: 30px;
						text-decoration: none;
						font-size: 18px;
						color: #bbb;

						&:hover {
							color: $baseColor;
						}


						> i {

						}
					}
				}
			}
		}


		@at-root .ftr_copy {

			> p {
				margin-bottom: 0;
				font-size: 12px;
				font-weight: 300;
				color: #999;
			}
		}
	}
}
/*__________ Footer Top --- __________*/






/*__________ Footer Down +++ __________*/
.ftr_down_sec {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #202020;

	@at-root .ftr_down {

		@at-root .ftr_down_txt {

			> p {
				margin-bottom: 0;
				text-align: center;
				font-size: 12px;
				font-weight: 300;
				color: #999;

				> a {
					color: inherit;

					&:hover {
						color: $baseColor;
					}
				}
			}
		}
	}
}
/*__________ Footer Down --- __________*/












/* INDEX SCORE
=======================================================================================================================*/
.tm_sec {
	margin-bottom: 50px;
	
	@at-root .tm {
		padding: 20px;
		border-radius: 10px;
		background: #fff;
		
		@at-root .tm_head {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			
			@at-root .tm_ttl {
				
				> h3 {
					margin: 0;
					font-size: 20px;
				}
			}
			
			
			@at-root .tm_help {
				
				> a {
					display: block;
					border-bottom: 1px dashed #6586fe;
					text-decoration: none;
					color: #6586fe;
					
					&:hover {
						border-bottom-style: solid;
					}
				}
			}
		}
		
		
		@at-root .tm_body {
			display:flex;
			
			@at-root .tm_cnt {
				flex: 0 0 auto;
				width: 70%;
				padding-right: 30px;
				
				@at-root .stad {
					margin-bottom: 40px;
					
					@at-root .stad_head {
						margin-bottom: 40px;
						
						@at-root .tm_res_tab_nav {
							display: flex;
							
							> li {
								width: 50%;
								
								> a {
									display: flex;
									justify-content: center;
									align-items: center;
									height: 100%;
									padding: 10px;
									text-align: center;
									text-decoration: none;
									font-size: 22px;
									background: #515a7b;
									color: #fff;
								}
								
								
								&.active > a,
								> a:hover {
									background:#3e4767;
								}
							}
						}
						
						
						@at-root .tm_res_cnt {
							border-top: 1px solid #49526d;
							background: #3e4767;
							color: #fff;
							
							@at-root .tm_res_it {
								display: flex;
								justify-content: center;
								padding: 15px;
								
								& + & {
									border-top: 1px solid #565f7f;
								}
								
								
								@at-root .tm_res_nav{
									display: flex;
									align-items: center;
									border-radius: 100px;
									overflow: hidden;
									background: #6586fe;
									
									@at-root .tm_res_nav_btn {
										display: flex;
										align-items: center;
										justify-content: center;
										width: 30px;
										height: 26px;
										padding: 0;
										border: 0;
										text-decoration: none !important;
										background-color: transparent;
										color: inherit !important;
										
										> i {
											display: block;
											font-size: 18px;
										}
										
										
										&.prev {
										
										}
										
										
										&.next {
										
										}
									}
									
									
									@at-root .tm_res_nav_txt {
										margin: 0 5px;
									}
								}
								
								
								@at-root .tm_res_dtl {
									display: flex;
									width: 100%;
									
									@at-root .tm_res_dtl_it {
										width: 33.3333%;
										text-align: center;
										
										@at-root .tm_res_dtl_ttl {
											margin-bottom: 15px;
											font-size: 19px;
										}
										
										
										@at-root .tm_res_dtl_cnt {
											
											@at-root .tm_res_dtl_pt {
												line-height: 1;
												font-size: 25px;
												color: #b1c1fb;
												
												> .val {
													font-size: 55px;
													font-weight: 500;
												}
												
												
												> .txt {
												
												}
											}
											
											
											@at-root .tm_res_dtl_num {
												margin-bottom: 10px;
												font-size: 22px;
											}
											
											
											@at-root .tm_res_dtl_shr {
												display: flex;
												justify-content: center;
												
												> a {
													display: flex;
													align-items: center;
													padding: 7px 14px;
													border-radius: 100px;
													text-decoration: none;
													font-size: 13px;
													font-weight: 300;
													background: #6586fe;
													color: inherit;
													
													&:hover {
														background: $baseColor;
													}
													
													
													> .img {
														width: 15px;
														height: 15px;
														margin-right: 5px;
														background: center / contain no-repeat;
													}
													
													
													> .txt {
													
													}
												}
											}
											
											
											@at-root .tm_res_dtl_sum {
												font-size: 17px;
												font-weight: 300;
												
												& + & {
													margin-top: 10px;
												}
												
												
												> .txt {
												
												}
												
												
												> .val {
												
												}
											}
										}
									}
								}
							}
						}
					}
					
					
					@at-root .stad_body {
						
						@at-root .tm_res_tab_cnt {
							
							@at-root .tm_res_tab {
								
								@at-root .tm_play {
									
									@at-root .tm_play_capt {
										margin-bottom: 40px;
										
										@at-root .tm_play_capt_fm {
											
											@at-root .tm_play_capt_it_bx {
												display:flex;
												justify-content:space-between;
												
												@at-root .tm_play_capt_it {
													display: flex;
													align-items: center;
													
													@at-root .tm_play_capt_txt {
														margin-right: 10px;
														font-size: 19px;
														font-weight: 500;
													}
													
													
													@at-root .tm_play_capt_name {
														
														@at-root .tm_play_capt_sel {
															max-width: 150px;
															font-size: 17px;
															border: 0;
															border-bottom: 1px dashed #6586fe;
															color:#6586fe;
															
															> option {
																color: #333;
															}
														}
													}
												}
											}
										}
									}
									
									
									@at-root .tm_play_std {
										margin-bottom: 50px;
										
										@at-root .tm_play_std_cnt {
											padding: 20px 0;
											padding-top: 30px;
											background: center / 100% 100% no-repeat;
											
											@at-root .tm_play_std_it_bx {
												display: flex;
												justify-content: space-around;
												
												& + & {
													margin-top: 75px;
												}
												
												
												@at-root .tm_play_std_it {
													margin: 5px;
												}
											}
										}
									}
									
									
									@at-root .tm_play_rsv {
										
										@at-root .tm_play_rsv_cnt {
											display: flex;
											justify-content: space-around;
											align-items: flex-start;
											flex-wrap: wrap;
											border-bottom: 20px solid #2b3353;
											background: center / 100% 100% no-repeat;
											
											@at-root .tm_play_rsv_it {
												margin: 20px;
												
												@at-root .tm_play_man {
													position: relative;
													
													@at-root .tm_play_man_img {
														display: flex;
														flex-direction: column;
														align-items: center;
														@include Absolute(-65px, 0, null, 0, auto);
														
														
														> .inf {
															display: flex;
															margin-bottom: 3px;
															
															> a {
																display: block;
																width: 18px;
																height: 18px;
																line-height: 18px;
																border-radius: 50%;
																text-align: center;
																text-decoration: none;
																font-size: 10px;
																font-weight: 500;
																
																& + a {
																	margin-left: 5px;
																}
																
																
																&.i {
																	background: #6586fe;
																	color: #fff;
																}
																
																
																&.chg {
																	position: relative;
																	background: #e3ef24;
																	
																	&::before,
																	&::after {
																		content: '';
																		display: block;
																		width: 0;
																		height: 0;
																		border: solid transparent;
																		border-width: 5px 3px 5px 3px;
																		position: absolute;
																	}
																	
																	
																	&::before {
																		border-bottom: 0;
																		border-top-color: #e74c3c;
																		top: 4px;
																		left: 4px;
																	}
																	
																	
																	&::after {
																		border-top: 0;
																		border-bottom-color: #2fbf47;
																		right: 4px;
																		bottom: 4px;
																	}
																}
															}
														}
														
														
														> .img {
															width: 40px;
															height: 60px;
															background: top / contain no-repeat;
														}
													}
													
													
													@at-root .tm_play_man_desc {
														position: relative;
														text-align: center;
														color: #fff;
														z-index: 3;
														
														@at-root .tm_play_man_name {
															padding: 3px 5px;
															border-radius: 5px 5px 0 0;
															font-size: 11px;
															background: #687297;
															
															
															&.red {
																background: $baseColor;
															}
															
															
															&.blue {
																background: #6586fe;
															}
														}
														
														
														@at-root .tm_play_man_num {
															border-radius: 0 0 5px 5px;
															position: relative;
															font-size: 12px;
															background: #3e4767;
															
															> .txt {
																position: relative;
																z-index: 2;
															}
															
															
															> .cap {
																display: flex;
																justify-content: center;
																width: 20px;
																height: 16px;
																border-radius: 0 0 100px 100px;
																@include Absolute(null, 0, -16px, 0, auto);
																text-transform: uppercase;
																font-size: 11px;
																background: #3e4767;
															}
														}
													}
												}
											}
										}
									}
									
									
									@at-root .tm_play_info {
										margin-top: 15px;
										margin-bottom: 25px;
										
										> .chg {
											width: 18px;
											height: 18px;
											border-radius: 50%;
											position: relative;
											background: #e3ef24;
											
											&::before,
											&::after {
												content: '';
												display: block;
												width: 0;
												height: 0;
												border: solid transparent;
												border-width: 5px 3px 5px 3px;
												position: absolute;
											}
											
											
											&::before {
												border-bottom: 0;
												border-top-color: #e74c3c;
												top: 4px;
												left: 4px;
											}
											
											
											&::after {
												border-top: 0;
												border-bottom-color: #2fbf47;
												right: 4px;
												bottom: 4px;
											}
										}
									}
									
									
									@at-root .tm_play_btn_sv {
										display: flex;
										justify-content: center;
										
										> .but {
											display: block;
											padding: 10px 30px;
											border: 0;
											border-radius: 100px;
											text-align: center;
											text-decoration: none;
											font-size: 18px;
											@include ButtonBgColor(#7492fe);
											color: #fff;
										}
									}
								}
							}
						}
					}
				}
				
				
				@at-root .tm_res {
					
					@at-root .tm_res_head {
					
					}
					
					@at-root .tm_res_body {
					
					}
				}


				@at-root .tm_rsv {

					@at-root .tm_rsv_ttl {
						margin-bottom: 15px;
						font-size: 22px;
						font-weight: 500;
					}


					@at-root .tm_rsv_cnt {

						@at-root .tm_rsv_it {

							& + & {
								margin-top: 30px;
							}


							@at-root .tm_rsv_tab_cnt {
								position: relative;

								@at-root .tm_rsv_nav_txt {
									margin: 0;
									padding: 3px 12px;
								}


								@at-root .tm_match {
									display: flex;
									justify-content: center;
									align-items: center;
									width: 100%;

									@at-root .tm_match_it {

										&.club {
											flex: 1 1;
											display: flex;
											align-items: center;
											font-size: 17px;

											> .txt {

											}


											> .img {
												width: 26px;
												height: 26px;
												background: center / contain no-repeat;;
											}


											&.left {
												justify-content: flex-end;

												> .txt {

												}


												> .img {
													margin-left: 5px;
												}
											}


											&.right {
												justify-content: flex-start;

												> .txt {

												}


												> .img {
													margin-right: 5px;
												}
											}
										}


										&.score {
											flex: 0 0 auto;
											margin: 0 15px;
											padding: 4px 12px;
											border-radius: 5px;
											font-size: 17px;
											font-weight: 500;
											background: #262e4c;
											
											> .num {

											}


											> .txt {

											}
										}
									}
								}


								@at-root .tm_tour_btn_bx {
									padding-top: 35px;

									@at-root .tm_tour_btn {
										display: block;
										padding: 7px 14px;
										@include Absolute(null, null, 0);
										text-decoration: none !important;
										font-size: 15px;
										background: #6586fe;
										color: #fff !important;

										> .i {

										}


										> .txt {

										}


										&:hover {
											background: $baseColor;
										}


										&.prev {
											border-top-right-radius: 15px;
											left: 0;
										}


										&.next {
											border-top-left-radius: 15px;
											right: 0;
										}
									}
								}
							}
							
							
							@at-root .tb_tour_bx {
								padding: 10px;
								background: #3e4767;
								color: #fff;
								
								@at-root .tb_tour {
									white-space: nowrap;
									
									thead {
										
										tr {
											
											td {
												width: 20px;
												border: 1px solid #505a7d;
												font-size: 16px;
												
												
												&:nth-of-type(2) {
													width: initial;
													min-width: 200px;
												}
											}
										}
									}
									
									
									tbody {
										
										tr {
											
											td {
												border: 1px solid #505a7d;
												text-align: center;
												
												@at-root .tb_tour_club {
													display: flex;
													align-items: center;
													
													> img {
														height: 24px;
														margin-right: 10px;
													}
													
													
													> .txt {
													
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			
			
			@at-root .tm_asd {
				flex: 0 0 auto;
				width: 30%;
				
				@at-root .tm_asd_it {
					
					& + & {
						margin-top: 30px;
					}
					
					
					@at-root .tm_asd_tb_bx {
						overflow-y: hidden;
						overflow-x: auto;
						
						@at-root .tm_asd_tb {
							width: 100%;
							
							thead {
								color: #fff;
								
								&.default {
									background: #3e4767;
								}
								
								
								&.light_blue {
									background: #6586fe;
								}
								
								
								&.dark_blue {
									background: #5959ea;
								}
								
								
								&.pink {
									background: #ff4d6f;
								}
								
								
								tr {
								
								}
								
								
								td {
									padding: 10px;
									line-height: 1;
									font-size: 19px;
									
									@at-root .tm_asd_tb_h {
										display: flex;
										justify-content: center;
										align-items: center;
										
										> .img {
											width: 22px;
											height: 22px;
											margin-right: 7px;
											background: center / contain no-repeat;
										}
										
										
										> .txt {
										
										}
									}
								}
							}
							
							
							tbody {
								
								&.default {
									background: #515a7b;
									color: #fff;
									
									tr + tr {
										border-top: 1px solid #636c8e;
									}
									
									
									td + td {
										border-left: 1px solid #636c8e;
									}
								}
								
								
								&.light_blue {
									background: #3e4767;
									color: #fff;
									
									tr + tr {
										border-top: 1px solid #505a7d;
									}
									
									
									td + td {
										border-left: 1px solid #505a7d;
									}
								}
								
								
								tr {
								
								}
								
								
								td {
									padding: 10px;
									font-weight: 300;
									
									@at-root .tm_asd_tb_idx {
										display: inline-block;
										vertical-align: middle;
										padding-left: 25px;
										position: relative;
										
										&::before {
											content: '';
											display: block;
											width: 0;
											height: 0;
											border: 7px solid transparent;
											@include Absolute(0, null, 0, 0, auto);
										}
										
										
										&.incr::before {
											border-top: 0;
											border-bottom: 10px solid #13c352;
										}
										
										
										&.decr::before {
											border-bottom: 0;
											border-top: 10px solid #ff010b;
										}
									}
									
									
									@at-root .tm_asd_tb_pc_l {
										
										@at-root .tm_asd_tb_pc_l_btn {
											width: 20px;
											height: 20px;
											padding: 0;
											border: 0;
											text-align:center;
											font-size: 18px;
											background-color: transparent;
											
											> i {
											
											}
										}
										
										
										@at-root .tm_asd_tb_pc_l_num {
											margin: 0 5px;
											line-height: 19px;
										}
									}
									
									
									@at-root .tm_ctrl {
										display: flex;
										justify-content: space-between;
										align-items: center;
										
										@at-root .tm_ctrl_name {
											margin-right: 10px;
										}
										
										
										@at-root .tm_ctrl_swch_bx {
											
											@at-root .tm_ctrl_swch {
												width: 90px;
												height: 24px;
												position: relative;
												cursor: pointer;
												
												> .rail {
													margin: 2px 0;
													border-radius: 100px;
													@include Absolute(0, 0, 0, 0);
													background: #3e4767;
												}
												
												
												> .bar {
													display: flex;
													justify-content: center;
													align-items: center;
													width: 50%;
													border-radius: 100px;
													@include Absolute(0, null, 0, 0);
													font-size: 11px;
													transition: all .3s ease;
													background:#687297;
													
													> .on {
														display: none;
													}
													
													
													> .off {
														display: block;
													}
													
													
													&.active {
														left: 50%;
														box-shadow: 0 0 6px #6586fe;
														background:#6586fe;
														
														> .on {
															display: block;
														}
														
														
														> .off {
															display: none;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}











/* INDEX TEAM
=======================================================================================================================*/
.tm_news_bx {
	display: flex;
	width: 100%;
	padding: 0 10px;
	
	@at-root .tm_news_it {
		width: 50%;
		
		& + & {
			margin-left: 30px;
		}
		
		
		@at-root .tm_news_dln {
			
			@at-root .tm_news_dln_ttl {
				margin-bottom: 20px;
				font-size: 20px;
				font-weight: 500;
			}
			
			
			@at-root .tm_news_dln_txt {
				font-size: 17px;
			}
			
			
			@at-root .tm_news_dln_date {
				font-size: 17px;
				color: #b1c1fb;
			}
		}
		
		
		@at-root .tm_news {
			
			@at-root .tm_news_ttl {
				@extend .tm_news_dln_ttl;
			}
			
			
			@at-root .tm_news_plyr {
				
				@at-root .tm_news_plyr_it {
					display: flex;
					align-items: center;
					
					& + & {
						margin-top: 15px;
					}
					
					
					> .info {
						
						> a {
							display: block;
							width: 18px;
							height: 18px;
							line-height: 18px;
							border-radius: 50%;
							text-align: center;
							text-decoration: none;
							font-size: 10px;
							font-weight: 500;
							background: #6586fe;
							color: #fff;
						}
					}
					
					
					> .name {
						margin: 0 5px;
						text-align: center;
						font-size: 17px;
					}
					
					
					> .cond {
						font-size: 17px;
						color:#a5b4eb;
					}
				}
			}
		}
	}
}









/* STATISTICS
=======================================================================================================================*/
.stats {
	
	@at-root .stats_head {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		font-size: 20px;
		font-weight: 500;
		background: #6586fe;
		color: #fff;
		
		> img {
			margin-right: 10px;
		}
		
		
		> .txt {
		
		}
	}
	
	
	@at-root .stats_body {
		
		@at-root .stats_ftr_bx {
			
			@at-root .stats_ftr_fm {
				
				@at-root .stats_ftr {
					display: flex;
					justify-content: space-around;
					align-items: center;
					padding: 20px;
					background: #3e4767;
					color: #fff;
					
					@at-root .stats_ftr_it {
						
						@at-root .stats_ftr_sel_bx {
							display: flex;
							align-items: center;
							
							@at-root .stats_ftr_lbl {
								display: block;
								margin-bottom: 0;
								margin-right: 10px;
								font-size: 18px;
								font-weight: 300;
							}
							
							
							@at-root .stats_ftr_sel {
								width: 150px;
								border-radius: 100px;
								position: relative;
								background:#2e3656;
								
								> select {
									width: 100%;
									padding: 3px 10px;
									padding-right: 22px;
									border: 0;
									position: relative;
									z-index: 3;
									font-weight: 300;
									background-color: transparent;
									
									> option {
										background:#2e3656;
									}
								}
								
								
								> .ar {
									display: block;
									height: 10px;
									@include Absolute(0, 10px, 0, null, auto);
									
									&::before,
									&::after {
										content: '';
										display: block;
										width: 0;
										height: 0;
										border: 4px solid transparent;
									}
									
									
									&::before {
										margin-bottom: 2px;
										border-top: 0;
										border-bottom-color: #fff;
									}
									
									
									&::after {
										border-bottom: 0;
										border-top-color: #fff;
									}
								}
							}
						}
						
						
						@at-root .stats_ftr_btn {
							
							> button {
								width: 150px;
								padding: 3px 10px;
								border: 0;
								border-radius: 100px;
								font-size: 15px;
								@include ButtonBgColor(#6586fe);
							}
						}
					}
				}
			}
		}
		
		
		@at-root .stats_tb_bx {
			overflow: hidden;
			
			.mCSB_container {
				margin-bottom: 0 !important;
			}
			.mCSB_scrollTools.mCSB_scrollTools_horizontal {
				height: 2px;
				
				.mCSB_dragger_bar {
					height: 2px;
					margin: 0;
					border-radius: 0;
				}
				
				
				.mCSB_draggerRail {
					margin: 0;
				}
			}
			
			
			@at-root .stats_tb {
				display:flex;
				background: #646f9a;
				color: #fff;
				
				@at-root .stats_tb_main {
					flex: 0 0 auto;
					width: 40%;
					border-right: 1px solid #525b7d;
					
					@at-root .stats_tb_col {
						
						&.mn {
							
							> .stats_tb_row {
								padding-left: 30px;
							}
						}
						
						
						@at-root .stats_tb_row {
							display: flex;
							align-items: center;
							height: 70px;
							padding: 0 15px;
							
							&:nth-of-type(even) {
								background:#535e8a;
							}
							
							
							&.head {
								background:#525b7d;
							}
							
							
							@at-root .stats_tb_nm {
								
								@at-root .stats_tb_nm_ls {
									display: flex;
									align-items: center;
									
									> li {
										
										& + li {
											margin-left: 15px;
										}
										
										
										@at-root .stats_tb_nm_info {
											
											> a {
												display: block;
												width: 18px;
												height: 18px;
												line-height: 18px;
												border-radius: 50%;
												text-align: center;
												text-decoration: none;
												font-size: 10px;
												font-weight: 500;
												background: #6586fe;
												color: #fff;
											}
										}
										
										
										@at-root .stats_tb_nm_ufm {
											
											> img {
												height: 40px;
											}
										}
										
										
										@at-root .stats_tb_nm_txt {
											line-height: 1;
											
											> .name {
											
											}
											
											
											> .opt {
												display: flex;
												margin-top: 12px;
												
												> .him {
													text-transform: uppercase;
													margin-right: 20px;
												}
												
												
												> .aiv {
													text-transform: uppercase;
													color: #2e3656;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				
				
				@at-root .stats_tb_asd {
					width: 60%;
					
					@at-root .stats_tb_fld {
						display:flex;
						
						.stats_tb_col {
							flex: 1 1 auto;
							min-width: 150px;
						}
					}
				}
			}
		}
	}
	
	
	@at-root .stats_foot {
		padding: 50px 15px;
		background: #646f9a;
		color: #fff;
		
		@at-root .stats_pgn {
			display: flex;
			justify-content: center;
			
			@at-root .stats_pgn_ls {
				display:flex;
				flex-wrap: wrap;
				
				> li {
					
					> a {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 25px;
						height: 25px;
						border-radius: 50%;
						text-decoration: none;
						font-size: 13px;
						color: inherit;
					}
					
					
					&.active > a,
					> a:hover {
						background: #6586fe;
					}
					
					
					&.last {
						
						> a {
							width: initial;
							padding: 0 10px;
							border-radius: 100px;
							
							> .txt {
								margin-right: 5px;
								text-transform: uppercase;
							}
							
							
							> i {
							
							}
						}
					}
				}
			}
		}
	}
}











/* LEAGUE
=======================================================================================================================*/
.lig {
	width: 100%;
	
	@at-root .lig_it {
		margin-bottom: 50px;
		
		@at-root .lig_bnr_bx {
			position: relative;
			
			@at-root .lig_bnr {
				
				@at-root .lig_bnr_it {
					
					> img {
						width: 100%;
					}
				}
			}
			
			
			@at-root .lig_bnr_nav {
				
				@at-root .lig_bnr_btn {
					@extend .hdr_bnr_btn;
					background: rgba(#797979, .3);
					
					&.next {
						right: 0;
					}
					
					
					&.prev {
						left: 0;
					}
				}
			}
		}
		
		
		@at-root .lig_new_btn {
			display: flex;
			justify-content: center;
			margin-top: 20px;
			
			> a {
				display: block;
				padding: 10px 30px;
				border-radius: 100px;
				text-decoration: none;
				font-size: 16px;
				@include ButtonBgColor(#6586fe);
				color: #fff;
			}
		}
	}
}









/* NEWS
=======================================================================================================================*/
.news_sort {
	display: flex;
	
	> li {
		
		& + li {
			margin-left: 15px;
		}
		
		
		> a {
			display: block;
			border-bottom: 1px dashed #b8b8b8;
			text-decoration: none;
			color: #b8b8b8;
		}
		
		
		&.active > a,
		> a:hover {
			border-bottom-color: #6586fe;
			color: #6586fe;
		}
	}
}


.news {
	
	@at-root .news_body {
		
		@at-root .news_it_bx {
			
			@at-root .news_it {
				display: flex;
				
				& +& {
					margin-top: 50px;
				}
				
				
				@at-root .news_img {
					width: 25%;
					margin-right: 20px;
					
					> a {
						display: block;
						
						&:hover {
							filter: brightness(120%);
						}
						
						
						> img {
							width: 100%;
						}
					}
				}
				
				
				@at-root .news_txt {
					width: 75%;
					
					@at-root .news_date {
						margin-bottom: 10px;
						
						> p {
							margin-bottom: 0;
							font-size: 12px;
							color: #6586fe;
						}
					}
					
					
					@at-root .news_name {
						margin-bottom: 10px;
						
						> a {
							display: block;
							line-height: 1.2;
							text-decoration: none;
							font-size: 24px;
							color: inherit;
							
							&:hover {
								color: $baseColor;
							}
						}
					}
					
					
					@at-root .news_desc {
						
						> p {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	
	
	@at-root .news_foot {
		padding: 50px 0;
		
		@at-root .news_pgn {
			
			@at-root .news_pgn_ls {
				
				> li {
					
					> a {
					
					}
					
					
					&.active > a,
					> a:hover {
						color:#fff;
					}
				}
			}
		}
	}
}













/* INVITE
=======================================================================================================================*/
.inv_bx {
	
	@at-root .inv_fm {
		
		@at-root .inv {
			
			@at-root .inv_it {
				
				& + & {
					margin-top: 30px;
				}
				
				
				@at-root .inv_h {
					margin-top: 0;
					text-transform: uppercase;
					font-size: 21px;
					color: #6586fe;
				}
				
				
				@at-root .inv_p {
					font-size: 18px;
					
					> a {
						color: #6586fe;
					}
				}
				
				
				@at-root .inv_soc {
					display: flex;
					
					> li {
						
						& + li {
							margin-left: 15px;
						}
						
						
						> a {
							display: block;
							text-decoration: none;
							color: inherit;
							
							> i {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 50px;
								height: 50px;
								border-radius: 50%;
								font-size: 20px;
								color:#fff;
							}
						}
					}
				}
				
				
				@at-root .inv_inp {
					height: initial;
					margin-bottom: 10px;
					padding: 10px 15px;
				}
				
				
				@at-root .inv_txtar {
					min-width: 100%;
					max-width: 100%;
				}
				
				
				@at-root .inv_notice {
					padding: 20px 15px;
					border-radius: 5px;
					background: #e8e8e8;
				}
				
				
				@at-root .inv_btn_send {
					display: flex;
					justify-content: center;
					
					> button {
						padding: 10px 30px;
						border: 0;
						border-radius: 100px;
						font-size: 16px;
						@include ButtonBgColor(#6586fe);
						color: #fff;
					}
				}
			}
		}
	}
}











/* TRANSFER
=======================================================================================================================*/
.trsf_asd_tb_bx {
	overflow-y: hidden;
	overflow-x: auto;
	background: #646f9a;
	color: #fff;
	
	@at-root .trsf_asd_tb_hd {
		padding: 10px;
		line-height: 1;
		font-size: 19px;
		background: #525b7d;
	}
	
	
	@at-root .trsf_asd_tb_bd {
		padding: 15px 10px;
		
		@at-root .trsf_asd_tb {
			width: 100%;
			
			tr {
				
				&:nth-of-type(odd) {
					background: #535e8a;
				}
				
				
				td {
					padding: 7px;
					font-weight: 300;
				}
			}
		}
	}
	
	
	@at-root .trsf_asd_tb_ft {
		padding: 10px;
	}
}


.trsf_play_btn {
	margin-bottom: 30px;
	
	> .but {
		padding: 7px 20px;
		font-size: 14px;
	}
}


.trsf_res_it {
	padding: 0;
}
.trsf_bdg {
	width: 100%;
	
	@at-root .trsf_bdg_bd{
		padding: 20px 10px;
		
		@at-root .trsf_bdg_ls {
			display: flex;
			
			> li {
				flex: 1 1 auto;
				padding: 0 10px;
				text-align: center;
				
				& + li {
					border-left: 1px solid #a2b2ec;
				}
				
				
				@at-root .trsf_bdg_ttl {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 15px;
					font-size: 18px;
					
					> .txt {
						border-bottom: 1px dashed #fff;
					}
					
					
					> .add {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 22px;
						height: 22px;
						margin-left: 10px;
						border-radius: 50%;
						text-decoration:none;
						font-size: 14px;
						background: #6586fe;
						color: #fff;
					}
					
					
					> img {
						height: 26px;
					}
				}
				
				
				@at-root .trsf_bdg_num {
					font-size: 30px;
					color: #b1c1fb;
				}
			}
		}
	}
	
	
	@at-root .trsf_bdg_ft {
		display: flex;
		justify-content: space-between;
		padding: 7px 20px;
		background: #303753;
		
		@at-root .trsf_bdg_tip {
			display:flex;
			
			> a {
				display: block;
				border-bottom: 1px dashed #fff;
				text-decoration: none;
				color: #fff;
				
				&:hover {
					border-bottom-style: solid;
				}
			}
		}
		
		
		@at-root .trsf_bdg_reset {
			@extend .trsf_bdg_tip;
			
			> a {
			
			}
		}
	}
}





.trsf_mdl {
	
	.modal-dialog {
		width: 100%;
		max-width: 900px;
		margin: 30px auto;
		padding: 10px;
	}
	.modal-content {
		border-radius: 0;
	}
	
	
	@at-root .trsf_mdl_cnt {
		position: relative;
		
		@at-root .trsf_mdl_close {
			width: 30px;
			height: 30px;
			border: 0;
			position: absolute;
			top: -30px;
			right: -30px;
			background-color: transparent;
			
			&::before,
			&::after {
				content: '';
				display: block;
				width: 20px;
				height: 2px;
				@include Absolute(0, 0, 0, 0, auto);
				background:#fff;
			}
			
			
			&::before {
				transform: rotate(45deg);
			}
			
			
			&::after {
				transform: rotate(-45deg);
			}
		}
		
		
		@at-root .trsf_mdl_head {
			
			@at-root .trsf_mdl_man_bx {
				position:relative;
				overflow: hidden;
				background: linear-gradient(#fff, #eee, #fff);
				
				> .name {
					margin-bottom: 0;
					@include Absolute(0, null, null, 20px);
					text-align:center;
					white-space: nowrap;
					font-size: 70px;
					font-weight: bold;
					color: rgba(#000, 0.02);
				}
				
				
				> .club {
					margin-bottom: 0;
					@include Absolute(null, 20px, 0);
					text-align:center;
					white-space: nowrap;
					font-size: 70px;
					color: rgba(#000, 0.02);
				}
				
				
				@at-root .trsf_mdl_man {
					display:flex;
					padding-top: 30px;
					position:relative;
					z-index: 2;
					
					@at-root .trsf_mdl_man_it {
						flex: 1 1 auto;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 0 10px;
						
						&.img {
							
							@at-root .trsf_mdl_man_img {
								overflow: hidden;
								
								> img {
									position: relative;
									top: 10px;
								}
							}
						}
						
						
						&.info {
							
							@at-root .trsf_mdl_man_info {
								font-size: 16px;
								
								> .name {
									font-size: 22px;
									font-weight: 500;
								}
								
								
								> .type {
									color: #6586fe;
								}
								
								
								> .club {
									margin-bottom: 0;
								}
							}
						}
						
						
						&.club {
							
							@at-root .trsf_mdl_man_club {
								
								> img {
									max-width: 70px;
									max-height: 70px;
								}
							}
						}
					}
				}
			}
			
			
			@at-root .trsf_mdl_sts {
				
				@at-root .trsf_mdl_sts_info {
					padding: 10px 15px;
					background: #ececec;
					
					@at-root .trsf_mdl_sts_info_ls {
						display: flex;
						
						> li {
							flex: 1 1 auto;
							padding: 0 10px;
							text-align: center;
							
							> .ttl {
								margin-bottom: 5px;
								font-size: 16px;
							}
							
							
							> .cnt {
							
							}
						}
					}
				}
				
				
				@at-root .trsf_mdl_sts_skill {
					padding: 10px 15px;
					background: #6280ec;
					color: #fff;
					
					
					@at-root .trsf_mdl_sts_skill_ls {
						@extend .trsf_mdl_sts_info_ls;
						
						> li {
							
							> .ttl {
							
							}
							
							
							> .cnt {
							
							}
						}
					}
				}
			}
		}
		
		
		@at-root .trsf_mdl_body {
			
			@at-root .trsf_mdl_his_btn {
				display: flex;
				justify-content: center;
				margin: 10px 0;
				
				@at-root .trsf_mdl_his_btn_ls {
					display:flex;
					border-radius: 100px;
					background: #9aa2c3;
					color: #fff;
					
					> li {
						
						> a {
							display: block;
							padding: 3px 10px;
							border-radius: 100px;
							text-decoration: none;
							color: inherit;
						}
						
						
						&.active > a {
							background: #6586fe;
						}
					}
				}
			}
		}
	}
}





.tb_fixture {
	white-space: nowrap;

	thead {

		tr {
			border-bottom: 1px solid #505a7d;
		}


		td + td {
			border-left: 1px solid #505a7d;
		}
	}
}








/* MODAL REGISTRATION
=======================================================================================================================*/
.reg_mdl {

	.modal-content {
		border-radius: 0;
	}


	@at-root .reg_mdl_cls {
		display: block;
		width: 30px;
		height: 30px;
		border: 0;
		@include Absolute(0, 0);
		background-color: transparent;


		&::before,
		&::after {
			content: '';
			display: block;
			width: 16px;
			height: 1px;
			border-radius: 100px;
			@include Absolute(0, 0, 0, 0);
			margin: auto;
			background: $baseColor;
		}


		&::before {
			transform: rotate(45deg);
		}


		&::after {
			transform: rotate(-45deg);
		}
	}


	@at-root .reg_mdl_ttl {
		margin: 0;
		text-align: center;
	}


	@at-root .reg_mdl_fm {

		@at-root .reg_mdl_lbl {
			font-size: 13px;
			font-weight: normal;
		}


		@at-root .reg_mdl_inp_tel {

			.intl-tel-input {
				display: block;
			}
			.flag-container {

				.selected-flag {
					outline: 0;
				}
			}
		}


		@at-root .reg_mdl_inp {
			height: 40px;
			border-radius: 0;
		}


		@at-root .reg_mdl_forget {
			text-align:center;

			> a {
				font-size: 13px;
				color: $baseColor;
			}
		}


		@at-root .reg_mdl_btn {

			> button {
				width: 100%;
				padding: 7px;
				border: 0;
				text-transform: uppercase;
				font-size: 17px;
				@include ButtonBgColor($baseColor);
				color: #fff;
			}
		}
	}
}






























/* FOOTER
=======================================================================================================================*/
/*__________ Logo +++ __________*/
/*__________ Logo __________*/



